<script type="text/javascript">
  $(document).ready(function(){
    $.app.pages.shared.floor_plans.apartments = JSON.parse('<%= raw @apartments_json %>');
  });
</script>
<section id="canvas-container">
</section>
<section id="controls-container">
  <%= link_to 'Back to house', '#', id: 'back-to-house', class: 'hidden' %>
</section>
<section>
  <%= @page.try(:content) %>
</section>
