<script type="text/javascript">
  $(document).ready(function(){
    $.app.pages.shared.floor_plans.apartments = JSON.parse('<%= raw @apartments_json %>');
  });
</script>
<section id="canvas-container">
</section>
<section id="apartment-info-container" class="hidden">
  <div id="floor_number">
    Этаж: <span class="info"></span>
  </div>
  <div id="number">
    Номер апартамента: <span class="info"></span>
  </div>
  <div id="sold_out">
    Статус: <span class="info"></span>
  </div>
  <button id="buy-button">Купить</button>
</section>
<section id="controls-container">
  <%= link_to 'Back to house', '#', id: 'back-to-house', class: 'hidden' %>
</section>
<section>
  <%= @page.try(:content) %>
</section>
