<div class="action-wrapper" id="action-info">
  <div class="callback-shadow"></div>
    <div class="action-form">
      <div class="text">
        <%= raw(@message.description) if @message %>
      </div>
      <a href="#" class="action-call">Заказать звонок</a>
  </div>
</div>