<div class="action-wrapper" id="action-info">
  <div class="callback-shadow"></div>
    <div class="action-form">
      <input class="cancel-form" name="" type="reset" value="X">
      <div class="clear"></div>
      <div class="text">
        <%= raw(@message.description) if @message %>
      </div>
      <a href="#" class="action-call">ЗАКАЗАТЬ ЗВОНОК</a>
  </div>
</div>