<div class="action-wrapper" id="action-info">
  <div class="callback-shadow"></div>
    <div class="action-form">
      <div class="text">
      Мы приглашаем Вас стать владельцами уникальных апартаментов
      с двумя уровнями и выходами на террасы. Здесь можно отдохнуть на собственной
      террасе под открытым небом, в окружении зелени и цветов, в хорошую
      погоду принимать гостей,выпить чашку кофе перед началом рабочего дня,
      почитать любимую книгу, или просто любоваться пейзажами и смотреть
      на раскрывающуюся панораму Москвы.Быть на высоте – значит,
      жить в <span class="petrovsky">Petrovsky Apart House</span>.
      </div>
      <a href="#" class="action-call">Заказать звонок</a>
  </div>
</div>