<div class="buy-wrapper-sold">
  <div class="buy-shadow"></div>
  <div class="buy-form">
  <input class="cancel-form" name="" type="reset" value="X">
  <div class="text">
  <h2><label class="apart_type"></label> №<label class="floor-number"></label>-<label class="apart-number"></label></h2><br />
  <label class="apart_type"></label> <label class="floor-number"></label>-<label class="apart-number"></label> площадью <label class="apart-area"></label> м&sup2; продан<label class="sold"></label>.<br /> 
  Для получения более подробной информации о <br />
  <label class="apart-type-call"></label> закажите звонок.
  <br />
  </div>
    <div class="button">
      <a href="#" class="action-call">ЗАКАЖИТЕ ЗВОНОК</a>
      <div class="clear"></div>
    </div>
  </div>
</div>