<div class="buy-wrapper">
  <div class="buy-shadow"></div>
  <div class="buy-form">
  <div class="text">
  <h2>Апартаменты №<label class="floor-number"></label>-<label class="apart-number"></label></h2><br />
  Площадь: <label class="apart-area"></label> кв.м<br />
  Стоимость: <label class="apart-price"></label> $<br />
  Для получения более подробной информации о <br />
  свободных апартаментах закажите звонок.
  <br />
  </div>
    <div class="button">
      <input id="order-apart" type="submit" value="ЗАКАЖИТЕ ЗВОНОК" name="" />
      <div class="clear"></div>
    </div>
  </div>
</div>