<div class="buy-wrapper-sold">
  <div class="buy-shadow"></div>
  <div class="buy-form">
  <div class="text">
  <h2>Апартаменты №<label class="floor-number"></label>-<label class="apart-number"></label></h2><br />
  Апартаменты <label class="floor-number"></label>-<label class="apart-number"></label> площадью <label class="apart-area"></label> кв.м. проданы.<br /> 
  Для получения более подробной информации о <br />
  свободных апартаментах закажите звонок.
  <br />
  </div>
    <div class="button">
      <input class="order-apart" type="submit" value="ЗАКАЖИТЕ ЗВОНОК" name="" />
      <div class="clear"></div>
    </div>
  </div>
</div>