<div class="buy-wrapper">
  <div class="buy-shadow"></div>
  <div class="buy-form">
  <input class="cancel-form" name="" type="reset" value="X">
  <div class="text">
  <h2>Апартаменты №<label class="floor-number"></label>-<label class="apart-number"></label></h2><br />
  Площадь: <label class="apart-area"></label> м&sup2;<br />
  Стоимость: <label class="apart-price"></label> $<br /><br />
  Для получения более подробной информации о <br />
  свободных апартаментах закажите звонок.
  <br />
  </div>
    <div class="button">
      <a href="#" class="action-call">ЗАКАЖИТЕ ЗВОНОК</a>
      <div class="clear"></div>
    </div>
  </div>
</div>