<div class="menu">
  <% if @pages %>
    <ul>
      <% @pages.each_with_index do |page, id| %>
        <% if id != 0 && id !=8 %>
          <li class="icon-<%= id %> <%= id == @page.position ? 'current' : ''%>">
            <%= link_to raw("<span></span>#{page.name}"), slug_path(page.slug) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
