    <div class="concept_content">
      <span class="petrovsky">Petrovsky Apart House</span> - новый уникальный проект,<br />
      предлагающий комплексный подход к решению вопроса<br />
      комфортного и высококачественного жилья.<br />
      В доме гармонично сочетаются архитектурный облик,<br />
      широкий спектр услуг для владельцев, эргономика<br />
      внутреннего и придомового пространства. Здесь каждая<br />
      деталь отвечает за поддержание комфортного, стильного<br />
      и динамичного образа жизни для  будущих владельцев.
      <div class="presentation">
        <span class="present-icon"></span><a href="#" class="content-link">Скачать презентацию</a>
      </div>
    </div>
