    <div class="common">
      Petrovsky Apart House - новый уникальный проект,<br />
      предлагающий комплексный подход к решению вопроса<br />
      комфортного и высококачественного жилья.<br />
      В доме гармонично сочетаются архитектурный облик,<br />
      широкий спектр услуг для владельцев, эргономика<br />
      внутреннего и придомового пространства. Здесь каждая<br />
      деталь отвечает за поддержание комфортного, стильного<br />
      и динамичного образа жизни для  будущих владельцев.
      
    </div>