<script type="text/javascript">
  $(window).resize(resize_1920_right_top);
  $(document).ready(function () {
    $('#main').show()
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
<g id="Layer_2">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M722,865l-1-2.5l3-17.166l0.333-5.667l-6.333,8.5l-14.667,8.166
    l-5.167,0.334L691,860.5l-0.5,4.5l-0.5,9l-0.5,14.5l-0.5,13l-4.5,15l-4,7l-6.5,8l-3.5,6L656,939l4.5-8l-3.5-3.5l-2-7.5l-0.5-8.5
    l-0.5-6l-0.5-9c0,0-1.5-7-1.5-8.5s1.5-8.5,1.5-8.5l2.5-7h-4.5l-6-0.5l-5.5-4.5l-2.5-8v-8v-7l-1-5.5l-3.5-5.5l-1.5-10.5l-4.5-11
    l3.5-11l2-7l2.25-2l4.75-3l5.5-3l7.25-5.75l5.25-2.5l4.75-3l2.25-2.25l0.5-3.5v-4.5l0.25-5.5l5-4.5l4.5-2.5l6.75-0.25l6,2.25
    l2.75,2.25l2.083,11.083l-2.583,2.917l-3,3L684,776.5l0.25,4l2.25,5.75l2.75,2.5l2.25,11l1,4.75l1,9.5l1.75,12l-0.75,15v6.25
    l1,1.75l2.5,1l2.5-0.75l3-1.5l4.167-1.917l4.833-3.583l1.833-0.917l1.833-5l2.333-4.666l1-4.334l2.167-3.166
    c0,0,3.083-1.834,3.833-1.834s1.667-2.5,1.667-2.5l-1.667-4.083l-2-3.5l-0.5-3.75l0.5-4.75c0,0,0.25-2.75,5.75-6
    s12.25,1.5,12.25,1.5s2.25,2.5,1.25,9.5s-1.75,9-1.75,9l0.5,3l6.5,0.5c0,0,2.75,0.25,6.5,10c5,13,3.5,13.75,3.5,13.75
    s0.5,10.416-1.333,19s-3,10.666-3,10.666l-3.167,2c2.333,2.167-5.083,3.835-5.083,1.167c0,0,2.826-9.608,3.583-6l2.583-14.917
    l-1.083-17.25l-3.167,31.501l-2.833,6.334l2,2.833l-1.167,24.999l-0.667,15l-0.667,9c0,0-2,6.167-6,6.167s-2-6.167-2-6.167
    l1.333-2.333l0.667-5.333L737.5,906l-0.25-21l0.417-6.667l-1.167-6.083l-5.218,10.072L728.5,899.5l0.75,7.5l0.5,18l-1.25,2
    l-1.25,2.5c0,0-2.5,3.75-4.917,1.834s-1.583-6.084-1.583-6.084l1.25-3.75l-1-21.166L722.75,880l-0.25-11.5L722,865z"/>
</g>
<g id="Layer_4">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1090.834,176.167l-30.5,54v179.167l47.333-54.667V0h-16.333
    l-0.659,359.833l12.159,0.167h-12.167l0.667-360h-235L841,123l13,2l-2.5,19l-12.5-2l-17.667,150.833l9.167,1.5l-1.5,9.333l-9-1.917
    L805.75,415.5l6,1.25l-2,12l-6.25-1.5l-1.5,27l2.75,4.75L804,491l-3,22.25l1,8.5L800.75,572l2.438,33L802,668l-115.5,34.167
    v-28.333l9.167-11.333c0,0-0.833-1.667-11-1.667s-10.5,1-10.5,1l9,12.333l-0.333,29.167L679,704.501v-35.5l-5-7.167l5-0.833
    l-0.167-168.167l-18-55.5L0,392"/>
</g>
<g id="Layer_5">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M0,479.333c-3-4,8.249-9.245,10.667-2.667c8.333,22.667,38,37,38,37
    C12.333,504.833,39.477,524.664,38,524.5c-9-1,21.5,2.5,21.5,2.5s8-16.5,16-29.5s11-11.5,15-11.5s30.295,3.303,41,9.5
    c9.5,5.5,20.585,17.393,28,21c18.5,9,7.5,16.5,7.5,16.5s21.219,10.635,15,14c-28.333,15.334-12.667,29.334-12.667,29.334
    s19,2.333,23,1.333s24.333-6,24.333-6l3.667,5.666c0,0,16.333-9.333,18.333-15.333c0,0,10.333-14,21.667-13.333
    c4.991,0.294,11.108,8.239,19.667,12.333c15.333,7.334,31.333,3.667,35.333,6.667s16.796-3.343,10.333,3
    c-18,17.666,10.808,4.715,9.333,14.666c-1.333,9,20.058,13.644,15.333,16.667c-8.333,5.333-8,19.334-12,17.667
    C319.748,611.921,331,630,331,630s4.333,5.333,11.667,9c9.545,4.773,21-7.333,21-7.333s13.79,10.105,14.333,5.666
    C380,621,385,622,390,620s25.333-7.666,31.333-8.666s29.667,3.666,26,14c-2.141,6.034-5.333,16.333,1.667,17.333
    s18.624-6.772,33.333,4.667C485.333,649.667,472,656,472,659s5.333,14.333,31,3.667c6.53-2.714-3,12-3,12s6.333,1.666,7.667,4.666
    C508.49,681.186,506,693,506,693l4.667,13.333c0,0,2-3.666,7-6.333s9-5,10-8c3.073-9.22,2.262-12.104,5-9
    c5,5.667,7.333-0.667,12.333-8.667c2.136-3.417,4.098,2.996,8.667,4c6.125,1.347,14.833-1.833,14.833-1.833v113l0.167-246
    L543.333,515c0,0-4.667-5.333,29.333-3.667s30,8.333,30,8.333L577.5,543v248.166V677c0,0,7.005,10.435,21.75-11.25
    c4.25-6.25,7.722,8.857,12.083,9.25c3.847,0.346,6.421-4.184,9-3.333c7.371,2.433,8.895,6.57,14.333,6.666
    c9.5,0.167,10-5,11.333-0.833c0.645,2.016-4.667,10.501-8,12.167c-5.37,2.684-1.333,9.333-1.333,9.333s-2,3.333,4,7
    s15,4.667,15,4.667s3.902,0.138,17,11.666c8.333,7.334,10,27.168,10,27.168L683,673.667l-9.167-11.666c0,0,3.5-1.334,11.5-1.167
    s10.5,1.5,10.5,1.5l-9.5,11.333l0.167,76.501c0,0,10.5-4.834,18.5-2.501S711.667,759,711.667,759l0.083-53.25l-5.75-5.5
    c0,0,2-0.75,8-0.75s7.75,1.25,7.75,1.25l-6.25,5l-0.125,52.5c0,0,2.54-3.666,5.375-4.75s5.25-1.25,5.25-1.25v-32.125l-2.5-2.625
    c0,0,1.5-0.5,3.625-0.5s3.625,0.625,3.625,0.625l-2.5,2.375v32.999c0,0,7.191,3.114,16.083-1.332
    c9.333-4.667,16.688-2.463,16.688-2.463s-5.688-29.871-0.021-37.537l8.333,4c5,8.333,14.667-11,14.667-11s-8.583,7.89-19.667-7.334
    c-1.625-2.232-5.498-1.414-5.312-3.973c0.101-1.389,4.613-2.946,5.646-4.693c0,0,14.667-4,26.333-4c4.723,0-1.186-8.788,1-11.667
    c1.903-2.506,11.133,1.414,15.333,3.334C808.127,676.696,802,652,826.667,664c6.417,3.122,4.667-3.333-6-12.666
    c-2.788-2.439-7.487-5.79-11.667-8.667c-4.485-3.087,3.287-13.39,6.667-19.667c4.667-8.667,26.22,9.146,28,1.667
    c1.831-7.688,12.542-13.631,17.083-16.917c1.016-0.734-6,13.917,2.25,19.25c1.441,0.932,10.281-2.029,12.667-2.666
    c3.267-0.871,1.34-9.604-0.389-15.554c-0.278-0.956-2.611-15.113,20.055-21.113c5.844-1.547-4.368-10.852,2.333-14
    c5.218-2.45-9.955-27.247-3.667-29.333c4.205-1.396,9.115,7.604,12.333,17.333c2.377,7.186-7.667,14,6.667,16
    c1.724,0.24-5.333-23.667-5.667-30.667c-0.348-7.311,8.558,5.918,16.667,7c10,1.334,0.978-30.589,5-30.333
    c3.947,0.251,13.604,3.588,18,6.667c2.145,1.502,24.811-7.095,22.667-5.333c-11.403,9.37-17.667,18-2.167,21
    c9.119,1.765-8.107,10.986-4,11.5c4.355,0.544,9.556,14.795,11,19.5c0.813,2.651,16.107-16.526,22.5-26
    c1.567-2.322,1.238,10.592,4,16.5c0.644,1.378,27-26,41-16.5c1.045,0.709,13.177-11.513,11-1.5c-2.5,11.5-7,0.667-4,22.167
    c0.179,1.278,10.672-6.163,12.334-5c10,7-3.691,28.612-0.667,33c1.696,2.461,10.418-7.951,10.667-5.334c0.666,7,26,15,1.666,27.667
    c-1.399,0.729,11.743-2.126,12.334,0c1.381,4.967-4.452,10.689-7.667,16.333c-0.913,1.603-7.453,12.997-9.333,11.667
    c-21.667-15.333-12.021,10.108-18,7c-8.334-4.333-16.529,1.096-17.834,3.5c-5.86,10.802,12.695,7.745,2.5,15.167
    c-9.99,7.272-20.107,18.043-23.666,27.666c-2.242,6.062,15.381-1.693,12,3.334c-3.988,5.931-5.969,13.995-6.797,22.325
    c-0.399,4.011,25.424,6.75,25.463,10.675c0.061,6.209-22.764,9.401-27.666,14.333c-3.874,3.896-21.299,9.23-18.834,12L951,785
    l-23.5,19.5V888l-12,10.5L915,805l-15.5-23.5l-29-6.5l-29-20.5c0,0-41,0.5-44-17s-23.5-19-23.5-19"/>
</g>
<g id="Layer_6">
</g>
</svg>
    <%= javascript_include_tag 'svganimations.js' %>
    <%= javascript_include_tag 'classie.js' %>
</div>

    <div class="concept_content">
      <span class="petrovsky">Petrovsky Apart House</span> - новый уникальный проект,<br />
      предлагающий комплексный подход к решению вопроса<br />
      комфортного и высококачественного жилья.<br />
      В доме гармонично сочетаются архитектурный облик,<br />
      широкий спектр услуг для владельцев, эргономика<br />
      внутреннего и придомового пространства. Здесь каждая<br />
      деталь отвечает за поддержание комфортного, стильного<br />
      и динамичного образа жизни для  будущих владельцев.
      <div class="presentation">
        <span class="present-icon"></span>
        <a href="docs/petrovsky_aparts_house.pdf" id="dwn-link" class="content-link" target="_blank">Скачать презентацию</a>
      </div>
    </div>
