<script type="text/javascript">
  $(window).resize(function (){
    var widthSvg=(($(window).height()/1200)*2620);
    $('#svg').attr('width', widthSvg);
    $('#main').css('margin-left', (-widthSvg+$(window).width()));
    $('#main').show();
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2620 1200" enable-background="new 0 0 2620 1200" xml:space="preserve">
<g id="Layer_2">
<path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2360.667,910.334c71.265,22.989,71.133,69.941,80.318,95.001c5.997,16.362,12.841,14.405,24.646,22.124
c187.803,122.794-1011.298,87.208-811.965-32.125c1.499-0.898,17.111-5.779,17.111-5.779c2.486,0.795-2.311-22.105,5.024-29.246
c0.832-0.811-22.979-3.623-14.714-26.281c0.24-0.661,2.991-7.994,7.7-10.946c0.407-0.256,0.269-12.291,0.425-18.381
c0.034-1.351,6.242-7.033,10.389-10.644c1.541-1.341,52.553-8.745,75.729-11.723c2.498-0.32,53.334-23.001,63-24.667
c3.798-0.654,44.209-15.343,125.667-23.666c8.721-0.892,71.666-10.667,124.672-2.822c10.805,1.601,53.994,4.155,33.661,39.489
c-2.468,4.286-4.839,3.281-3.333,9.333c0.326,1.312,11.889,10.705,14.666,14.333c3.693,4.825-1.485,10.606,5.334,12.667
c60.666,18.333,251.999,20.333,241.333,2"/>
</g>
<g id="Layer_3">
<path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2113.55,864.077c3.552-14.923,4.5-39.498,4.5-39.498S2135.666,809,2147.666,787
c12.255-22.468,22.584-40,28.381-44.916s15.953-2.584,23.998-19.999s2.408-60.139,5.5-71.997
c4.455-17.088,17.5-19.999,17.5-19.999l5-35.498c0,0-34.211-6.757-31.999-24.999c0.62,1.408-83.545,11.242-123.993-46.497
c-7.219-10.261-12.279-43.965-12.243-83.094c0.021-24.9-1.776-77.906,0.743-82.898c2.197-4.353,2.447-10.103-0.104-19.601
C2060,332,2058,330.5,2060.25,313.001c2.751-5.084,2.505-8.722,1-17.75c-25.5-12.501-34.195-47.642-34.195-47.642
S2022,226,2019.25,204.25c-0.578-4.575,0-9.75-17.193-60.136c-5.057-11.114,22.271-21.586,24.609-14.78
c8.584,9.666,11.5,31.5,14.333,47c9.879,54.047,15.106,75.631,18.554,82.774c3.448,7.143,8.029,15.727,29.113,21.56
s52.584-7.417,49.383-3.06c-15.882,25.226-44.716,22.059-50.996,21c-0.303,9.666-0.553,5.395,1.5,13
c2.947,12.226,1.864,22.559,0.781,24.559c-1.553,6.395-1.834,15.833,0.666,21.333c4.538,9.983-14.75,144.25,27.5,169
c26,14,77.546,10.594,77.546,10.594s7.027-18.651,28.499-23.999C2243,508.25,2277.25,516,2277.25,516s13.75,6,16.751,23
c36.749,9,58.846,9.076,76.498,4.747c39.751-9.747,50.536-82.649,50.536-82.649S2428,355,2430.534,343.104
c2.466-0.104,5.633-10.771,3.5-14.5c-2.159-2.354-0.63-24.164,2.493-35.452c2.346-8.479,12.473-7.152,6.006-15.045
C2425,266,2416.833,268.333,2403.5,249c-5.334-6.667-5.334-11-11.963-40.39c-2.871-10.61-5.463-33.386-20-50.498
c-14.537-17.112-17.294-25.217-17.499-35.498c-0.205-10.281,8.536-22.383,22.499-17.499C2390,116,2406.333,140.5,2413.333,178.333
c3.965,24.556,8.815,51.302,23.201,66.274c10.466,10.892,12.799,11.059,25.499,17.999c12.121,6.624,26.196,8.273,34.498,10.5
s-27.031,9.727-27.031,12.06c-1.667,5.167,2.833,6.5,4.5,10.833c3,13.667-2.25,32.25-2.25,32.25
c-3.417,4.917-4.083,11.917-1.25,16.75c3,4.25-10.5,133-10.5,133c-0.66,7.95-16.673,101.299-98,102.167
c-4.999,0.5-36.999,1.5-68.666-6.167c-5.501,15-22.334,19.5-22.334,19.5s-5.5,0.5-7,1.5s0.5,37,0.5,37s12.75,6.5,13.5,20.5
c0.366,6.831-1.75,63.75-0.5,73.5s18.5,14.5,22.5,18c6.75,7,18.333,60.334,47.5,89c2.75,11.25,1,43.5,1,43.5l12,17
c0,0,0.749,17.167-0.25,18c-15.25,22-230.25,6.25-243-5.25c-5.723-5.162,3.25-8-9.75-18.75
C2102.944,883.733,2109.999,879,2113.55,864.077z"/>
</g>
<g id="Layer_2_1_">
<path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2030.125,900.125c0,0-18.562-1.75-38.938,2.438c-10.246,2.105-22.938,10.375-22.938,10.375
s-4.312,0.25-4.875-2.625s9.062-8.188,19.312-11.75c9.22-3.204,32.164-4.378,37.438-3.812c7,0.75,8.875,2,10.375,4.417
c1.891,3.046-14.208,7.083-21.875,9.958S1987,913.333,1987,913.333s-15.917,1.083-21.333-0.75s0.583-5.958,0.583-5.958
s4.301-3.322,11.583-6.292c14.917-6.083,36.417-5.458,36.417-5.458l2.501-5.333c0,0,22.749-0.667,35.624-2.667
s21.938-6.5,22.438-8.562S2056.5,877,2041.5,878.625c-0.124,0.014-8.36,1.123-8.375,1.125c-20.042,3.125-17.416,9.626-17.416,9.626
s-3.981,0.058-6.292-2.75c-1.166-1.417,1.76-3.721,7.333-7.376c5.812-3.812,18.094-6.875,28.583-7.083
c4.929-0.098,18.979-0.625,23.292-0.292s8.521,1.375,10.25,3s-0.271,3.709-3.542,5.792S2066.5,884,2066.5,884
s-7.021,2.375-14.688,3.125s-33.625,2.828-37.479,2.208c-4.396-0.708-4.959-3.708-4.959-3.708s1.124-4.125,11.125-8.292
s23.833-5.166,23.833-5.166s3.859-3.453,4.459-3.5c22.75-1.792,37.041-6.709,40.458-9.75c0.824-0.734-0.062-2.479-3.438-2.729
c-0.686-0.051-6.125-0.604-12.312-0.021s-11,1.396-24.438,4.146c-13.691,2.802-22.875,8-22.875,8s-3.272-0.062-2.354-1.812
s6.751-5.25,6.751-5.25s4.416-2.417,15.083-5.417s19.084-3.833,23.584-4.166s18.601-0.993,20.771,1.646
c2.577,3.133-0.025,6.23-7.104,8.812c-9.709,3.542-20.176,5.034-29.25,6.042c-9.75,1.083-27.729,1.146-29.729-0.417
s-1.375-3-1.375-3s-0.188-4.938,11.604-8.583c1.513-0.468,14.417-4.584,14.417-4.584s17.529-3.87,17.583-6.25
c0.021-0.916-8.697-0.416-11.666-0.458c-17.771,0.448-23.146,2.312-25.354,2.688c-16.527,2.807-22.428,7.812-23.365,8.219
c-1.812,0.785-3.451-0.304-1.844-2.031c1.25-1.344,6.604-5.011,15.562-7.844c8.947-2.83,26.833-3.906,26.833-3.906
s17.417-1.917,20,2.167c0.848,1.34-2.513,3.507-7.833,5c-9.5,2.666-17.569,4.258-26.75,5.666
c-12.5,1.917-21.917,1.334-21.917,1.334s-10.125,0.415-10.333-2.334s4.001-7.082,4.001-7.082s9.182-3.776,8.174-4.847
s-6.675-1.237-6.675-1.237s-11.25-0.542-25.625,2.458s-21.042,7.5-21,7.375c0.479-1.428,18.528-7.187,18.528-7.187l-0.402-2.646
c0,0,26.816-4.454,36.999-0.667c3.584,1.333-7.001,5.499-10,6.75s-14,3.25-14,3.25s-37.875,6.625-35.5,0
c2.164-6.038,22.5-9.5,22.5-9.5s-23.625-3.625-17-5s54.667-4.334,57.5-4.334c38.342,0,58.167,3.666,65.667,5
c3.19,0.567,11.333,4,14.5,6.167c5.185,3.548,6.595,15.287,1.333,22.833c-12.667,18.167-65.75,38.084-65.75,38.084
s-40.25,20.25-116,36.75c-51.012,11.111-106,17.5-122,19.25s-53,3.25-70.75,2.25s-41.246-4.287-46.999-7.333
c-5.667-3-10.501-1.917-10.334-15.166c1.5-6.5,5.166-14.668,15-19.001c0.897-0.396-14.167,3.333-12.667,2.5
c3.846-2.136,22.5-11,22.5-11s-0.165-5.332,4.334-7.499c6.007-2.894,43.167-6.5,58.667-11.667
c15.166-5.667,25.59-12.633-3.417-9.583c-1.965,0.206,6.008-0.709,10.542-0.709c1.541,0,3.196,0.145,3.333,0.083
c16.75-7.542,46.541-22.375,113.106-35.58c22.316-4.427,37.185-6.795,94.81-12.795"/>
</g>
</svg>
    <script src="http://tympanus.net/Development/SVGDrawingAnimation/js/classie.js"></script>
    <script src="http://tympanus.net/Development/SVGDrawingAnimation/js/svganimations.js"></script>
</div>

    <div class="common-wrapper">
      В <span class="petrovsky">Petrovsky Apart House</span> менеджеры отдела продаж будут рады ответить <br />
по телефону и электронной почте на все интересующие Вас вопросы. <br />
      <br />
      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div class="contact-info">
          Центральный офис:<br />
          г. Москва, Большой Саввинский переулок, д. 11<br />
           <br />
          Petrovsky Apart House:<br />
          г. Москва, Старопетровский проезд, д. 1<br />
           <br />
          Телефон Отдела продаж: +7(495) 726-72-16<br />
          Email: sale@apt-petrovsky.com<br />
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>