<script type="text/javascript">
  $(window).resize(resize_2620_right);
  $(document).ready(function () {
    $('#main').show()
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2620 1200" enable-background="new 0 0 2620 1200" xml:space="preserve">
<g id="Layer_1">
  <g id="Layer_1_1_">
    <g id="Layer_1_2_">
      <g id="Layer_2">
        <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1676.125,961.125c0,0,8.312,4.438,21.875,6.625c13.561,2.188,32.369,2.128,36.25,2.25
          c13.888,0.438,42.188,1.159,85.75-3.5c46.596-4.983,91.337-14.832,110.5-19.875c19-5,71.246-20.657,88.75-27.875
          c36.041-14.862,65.172-32.215,66.75-33.25c3.854-2.526,9.875-6.75,9.875-6.75c7.834,5.416,17.458,15.917,17.458,15.917
          c-4.25,16.666-24.739,27.078-28.56,29.303c-9.257,5.391-22.517,12.953-32.273,17.864c-26.328,13.252-49.977,22.013-73.5,28.916
          c-77.993,22.888-142.709,25.456-192.5,29.5c-58.5,4.751-98.105-5.519-99-5.749c-15.5-4-17.667-16.333-17.667-16.333
          c-0.716,8.787,1.817,27.402,4.333,30.665c2.82,3.658,3.668,10.667,14.834,16.167c21.475,10.577,46.659,12.028,86.833,11.5
          c76-1,147.673-17.118,157.167-19c33.562-6.65,87.52-21.873,128.833-41c14.044-6.502,59.834-20.999,57.5-53.332
          c0,0-3.333-15.658-2.583-15.543c341.5,52.5-93.115,119.709-104.25,122.209c-32.666,7.333-75.999,12.666-116.666,15.999
          c-12.148,0.995-50.818,3.989-76.667,4.667c-46.237,1.211-92.937-0.02-82,2c43.333,8,137.258,18.753,222.667,23.334
          c131.544,7.056,333.736,2.586,379.666-0.834c47-3.5,74.323-9.825,80-12c47-18,21.4-51.523,22.5-50.5
          c2.289,2.132,9,8.5,12.167,9.667c18.011,6.637,28.921,18.024,30.583,27.583c0.788,4.532-2.4,11.081-4.5,13
          c-8.75,8-22.129,13.488-36.25,17.25c-37.444,9.976-45.75,12.25-88,17c-51.469,5.786-118,9-185,9
          c-65.73,0-163.922-1.328-285.833-13.499c-120.854-12.065-196.547-36.873-198-37.334c-6.901-2.188-34.591-14.019-40.667-18
          c-19.333-12.666-6.052-33.198-7.125-32.542c-10.625,6.5-13.52,15.363-13.625,16.375c-0.75,7.125-1.27,17.483-1.584,19.167
          c-2.193,11.698-0.066,19.452,4.667,25c3.899,4.57,9.179,9.506,16.417,12.333c85.283,33.314,167.529,45.321,246.584,53
          c75.979,7.381,149.216,11.033,209.333,12.667c201.953,5.487,328.146-20.366,359.833-34.417c16.146-7.16,31.5-21,25.75-35
          c0,0-2.557-25.133-2.25-25l2.25,22.5c0,1.25,4.525-0.174,9.416,5.083c32.834,35.292,38.314,75.776,39.834,79.917
          c3.75,16.75,3.169,43.75,3.169,43.75h-971.335c0,0-2.333-39.167,2.666-62.167c2.354-10.828,8.666-39.333,17.333-54.333
          s28.668-39.167,36.668-44.667l1.332-18c3-17.666,44.333-31.999,44.333-31.999l-0.166-2.333
          c-0.834-6.833-1.544-19.039,5.802-26.192c0.832-0.811-22.979-3.623-14.714-26.28c0.24-0.661,2.991-7.994,7.7-10.946
          c0.407-0.256,0.269-12.291,0.425-18.381c0.034-1.352,6.242-7.033,10.389-10.645c1.541-1.341,52.554-8.744,75.729-11.723
          c2.498-0.32,53.334-23.001,63-24.667c3.798-0.654,44.209-15.343,125.667-23.666c8.721-0.892,71.666-10.667,124.672-2.822
          c10.805,1.602,53.994,4.155,33.661,39.489c-2.468,4.286-4.839,3.281-3.333,9.333c0.326,1.312,12.604,12.806,14.419,14.749
          c2.333,2.5,3,12.583,3,12.583c2.267,0.685-0.043-0.727,2.583-0.083c63.447,15.553,225.666,20.583,241.5,3.416
          c1.826-1.979,28.125,10.793,46.667,24.167c27.499,19.834,35.342,77.589,34.999,77"/>
      </g>
      <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2113.188,861.125c3.553-14.923,4.287-25.342,4.862-37.546S2135.666,808,2147.666,786
        c11.291-20.701,18.229-39.58,25.078-46.594c0.048-0.049,14.531,2.802,26.756,4.094c10.391,1.099,31.839,2.209,41.333,2.333
        c57.417,0.751,58.545-3.166,58.833-3.166c0.416,0-3.275-4.535-9.083-9.333c-3.833-3.167-12.958-9.459-12.958-9.459
        c-21.749,3.507-65.792,7.21-78.125-7.624c0,0-3.75,12.583-20.75,18.249c-0.335,0.111-6.131,4.715-6.084,4.667
        C2181,730.584,2191.038,734.25,2199,717c7.5-16.25,3.453-56.054,6.545-67.912c4.455-17.088,17.5-19.999,17.5-19.999l5-35.498
        c0,0-25.545-7.591-31.999-24.999c0.62,1.408-103.546,7.158-123.993-46.497c-7.219-10.261-10.303-43.845-12.242-83.094
        c0.011-12.598-0.123-25.873-0.248-43.001c-0.006-0.686-82.396-7.5-219.729-14.833c0,0-0.896-2.354-7.709-7.854
        c-3.25-0.938-5.725-15.737,0.875-18.312c6.833-2.667,11.768-6.136,12-8.75c0.004-0.049,0.617,0.084,1.75-0.051
        c5.984-0.716,22.083-1.365,22.083-1.365s5.251-91.333,20.667-108.958c16.015-18.31,131-19.875,131-19.875s-109.5,1-131,19.75
        c-4.547,3.966-10.499,28.083-10.499,28.083s160.924,11.558,160.749,11.667l-160.688-11.604c0,0-6.312,29.771-8.896,63.271
        c0,0-1.888,17.619-1.334,17.625c60.012,0.75,173.161,10.611,191.708,11.333l-1.04,39.542c0,0,0.858-39.182,1.052-39.564
        c2.197-4.353,2.447-10.103-0.104-19.601C2060,331,2058,329.5,2060.25,312.001c2.751-5.084,2.505-8.722,1-17.75
        c-25.5-12.501-34.195-47.642-34.195-47.642S2022,225,2019.25,203.25c-0.578-4.575,0-9.75-17.193-60.136
        c-5.057-11.114,22.271-21.586,24.609-14.78c8.073,9.09,12.643,33.191,15.334,48.416c0.069,0.39,11.25-41,66.501-15.917
        c-55.251-24.833-66.435,15.867-66.334,16.417c9.879,54.047,9.136,62.857,12.583,70c3.448,7.143,12.832,26.585,33.916,32.418
        c18.376,5.083,44.662-4.328,48.994-3.945c0.092,0.008-29.236-1.675-47.66-18.389c-16.167-14.667-19.193-39.244-17.583-53.417
        c4.584-40.333,36.157-42.341,35.75-42.25c-26.167,5.833-34.234,25.436-35.667,41.958c-6.125,70.625,65.153,71.917,65.001,72.125
        c-15.882,25.226-42.72,24.309-49,23.25c-0.303,9.666-0.387,5.228,1.666,12.833c1.667,12,1.25,22.5,0.167,24.5
        c-1.553,6.396-2.667,17.833,1.667,20c0.716,1.6,0.221,0.725,0.562,3.304c0.009,0.067,0.354,38.863,0.354,38.863
        c0.209,0.018-0.576-38.982-0.292-38.969c4.34,0.21,17.186,3.428,17.208,3.885c0.334,6.75,3.629,12.043,8.333,16.75
        c1.833,1.834,0.084,8.083-1.416,9.083c-6.505,4.336-6.092,11.697-10.917,10.583c-1.083-0.25-12.905-1.529-12.916-1.333
        c-2.25,41.375-4.627,100.977,23.083,126c16.5,13.25,82,12.5,82,12.5s4.073-19.558,25.545-24.905
        C2243,507.25,2277.25,515,2277.25,515s13.75,6,16.751,23c36.749,9,58.846,9.076,76.498,4.747
        c39.751-9.747,50.536-82.649,50.536-82.649S2428,354,2430.534,342.104c2.466-0.104,5.633-10.771,3.5-14.5
        c-2.159-2.354-0.63-24.163,2.493-35.452c2.346-8.479,12.473-7.152,6.006-15.045c-14.554-7.58-14.707-5.913-21.272-12.373
        c-0.393-0.386-0.261-0.484-0.261-0.484s-197.166,25.583-276.812,5.438c-7.245-1.833-11.58,5.195-11.521,5.146
        c0.095-0.08,4.95-6.76,11.5-5.167c80.168,19.5,276.852-5.193,276.607-5.444c-2.373-2.44-7.467-7.711-11.773-12.223
        c-5.334-6.667-9-12-19.5-43c-2.871-10.61-13.35-38.972-23.5-59c-4.981-9.829-9.332-15.833-10.582-19.667
        c-0.138-0.423-222.136,14.417-263.167,36.917c-0.037,0.021-0.025,0.175,0.024,0.149c48.767-24.816,263.092-36.822,263.022-37.056
        c-0.712-2.38-0.649-4.829,0.202-8.844c2.134-10.06,7.074-22.269,21.037-17.385c6.582,7.873,12.534,17.605,16.494,25.322
        c0.002,0.005-0.152-0.454,0.092-0.473c37.294-2.881,59.738,1.092,59.794,1.202c0.053,0.103-24.667-4.167-59.761-1.167
        c-0.209,0.018-0.097,0.433-0.094,0.438c7.116,14.057,11.045,27.971,20.938,52.062c7.5,24,9.167,36.667,20.667,58.667
        c0,0,5.166,11,29.833,24.667c12.121,6.624,23.729,5.046,32.031,7.273c1.441,0.387,1.494,1.009,0.719,1.659l-4.75,70.568
        c0,0-7.166,0.333-10.333,4s-4.179,36.734-0.167,38.167c7,2.5,6.062,7.771,9.5,16.333s13.921,17.197,16.167,17.333
        c58,3.5,73.5,54.833,76.382,71.432c0.914,5.267,8.201,57.152-27.299,97.652c-9.006,10.274-29.191,8.345-30,8.25
        c-31.809-3.702,2.25-27.875,2.25-27.875s20.75-4.25,28.875-20.75c8.262-16.777,7.649-38.655,6.875-44.125
        c-0.023-0.164,5.997-0.958,10.312-3.312c5.374-2.934,9.281-7.531,9.281-7.531c0,0-3.982,4.57-9.281,7.469
        c-4.404,2.41-10.287,3.239-10.318,3.239c-23.381-0.404-122.987,5.292-147.244,102.886c-21.5,86.5,34.545,127.383,84,146.5
        c59.5,23,118.5-13.5,118.5-13.5V345.875c-27.166,6.042-105.541,6.542-127.541-1.5l0.083-0.042
        c15.25,6.917,102.875,8.5,127.458,1.302V243.833c0,0-41.771,5.304-67.333-1.167c-13.166-3.333-22.5-17.333-22.5-17.333
        C2495.875,231.938,2498.75,242,2498.75,242c-0.938-10.75,31.25-16.75,31.25-16.75s-19.75,2.5-34.25-18
        c-9.689-13.7-5.952-38.895,9.583-48.75c15.5-9.833,29.417-1.5,29.417-1.5s-16.5,2.25-23.25,14.625s-3.252,24.324,4.334,27.875
        c5.875,2.75,32.976-1.262,43.833-1.833c7.125-0.375-23.833,13.333-28.792,24.958c-2.524,5.918,13.389,18.007,22.792,20.375
        c23.5,5.917,66.333,0.688,66.333,0.688v-85.521c0,0-50.833,4.333-56.333,1.5s-4.834-5-4.834-5s11.834-16.625,11.042-24.042
        s-16.917-17.667-20.75-14.875c-3.053,2.224-9.569,11.509-11.708,14.667c-0.061,0.09-19.166-15.083-43.584-14.75
        c-16.296,0.222-32.414,7.436-42.458,15.958c0,0-41.208-6.458-50.406,16.625c0,0,3.785,9.667,8,20.594
        c1.105,2.863,2.216,5.897,3.375,8.75c0.599,1.473,1.392,2.754,1.824,4.24c5.238,17.979,10.393,35.879,9.666,33.583
        c-8.333-26.333,0.958-58.042,11.541-68.542c4.334-4.3,44.792-56.208,102.125-16.458c10.75,5.083,18,24.083,18,24.083
        s-5.5-22.25-33.833-22.333c-18.436-0.054-25.834,3.5-39.417,18.833s-17.67,51.304-5.25,69.75
        c11.166,16.583,21.834,21.417,21.834,21.417l-1.604,31.604c-5.021,3.583-27.729,8.551-27.729,10.396
        c-1.667,5.167,2.833,6.5,4.5,10.833c3,13.667-2.25,32.25-2.25,32.25c-3.417,4.917-4.083,11.917-1.25,16.75
        c3,4.25-10.5,133-10.5,133c-0.66,7.95-16.673,101.299-98,102.167c-4.999,0.5-36.999,1.5-68.666-6.167
        c-5.501,15-22.334,19.5-22.334,19.5s-5.5,0.5-7,1.5s0.5,37,0.5,37s14.146,6.354,14.25,20.375
        c0.375,51.125-0.625,72.833-0.625,72.833C2285,729.25,2291.75,733.125,2300,743c5.596,5.804,21.214,52.78,42.333,71.168
        c3.136,2.729,7.496,9.089,9.167,11.832c0.046,0.075,0.626,5.917-17.874,7.542c-6.589,0.579-14.313,0.866-24.083,1.375
        c-18.318,0.954-56.833,2.5-85.042,1.458c-17.535-0.647-50.127-2.375-59.251-3.25c-36.386-3.489-50.066-11.387-47-9.875
        c8.658,4.269,25.96,7.72,47.001,9.875c9.261,0.949,19.226,1.405,29.521,1.917c9.771,0.485,19.843,1.042,29.812,1.333
        c35.829,1.044,84.879-0.82,109.083-2.875c17.667-1.5,17.964-7.32,17.876-7.25c2.667,2.834-1.429,41.004,1.457,46.25
        c4.125,7.5-94.501,10.001-124.167,8.667c-14.171-0.638-42.94-1.249-66-4.333c-25.213-3.371-44.315-9.373-47.677-13.584
        c0,0-1.375-1.094-1.812-2.156c-0.076-0.188-0.16-0.021-0.188,0.094c-0.531,2.25-1.822,6.971-2.906,9.5
        c-0.938,2.188-2.031,4.938-2.812,6.938C2105.823,881.758,2106,883,2106,883s14.542,6.188,43.872,10.597
        c23.166,3.482,49.557,5.103,91.295,6.904c54,2.332,98.583-0.751,119.458-9.876c1.037-0.453-7.625-18.25-7.625-18.25
        c2.188,4.312,7.812,15.688,8,19.875c0.5,3.625,0.249,17.417-0.75,18.25c-15.25,22-230.25,6.25-243-5.25
        c-5.723-5.162,3.25-8-9.75-18.75C2102.944,882.733,2109.637,876.048,2113.188,861.125z"/>
    </g>
  </g>
  <g id="Layer_2_1_">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1776.75,908.5c0,0,6.066-9.271,17.5-16c11.087-6.523,25.773-12.264,27.25-12.75
      c22-7.25,42.128-12.583,63.5-16.25c20.424-3.505,45.47-4.546,46.275-4.6c8.258-0.55,31.412-1.656,44.1,2.1
      c10.037,2.971,9.243,8.959,8.375,10.75c-1.479,3.05-6.998,8.277-9.375,9.625c-15,8.5-31.329,15.052-34.625,16.375
      c-19.414,7.795-33.266,10.594-46,13.75c-15.004,3.719-39.051,7.385-53.25,8.5c-26.25,2.062-32.049,1.441-46.5,1
      c-14.312-0.438-17-10.438-17-10.438s-9.193-0.532-9.125,1.125c0.5,11.938,14.996,14.638,22.208,15.396
      c4.75,0.5,12.702,1.119,24.5,1c10.721-0.108,27.45-1.261,37.292-2.584c28.208-3.792,43.607-6.946,51.875-9
      c39.75-9.875,59.217-19.789,59.917-20.167c5.683-3.067,1.802-0.83,20.083-12.333c22.25-14,6.717-20.993,6-21.5
      c-4.188-2.957-22.568-6.75-38-6.75c-44,0-70.875,6.25-77.75,7.25c-0.497,0.072-8.125,10.25-8.125,10.25
      c12.875-7.25,23.188-3.938,23.188-3.938s6.312,3.438,1.188,7c-4.076,2.834-5.478,2.696-6.438,3.062
      c-0.959,0.367-2.529,0.938-5.979,1.458c-14.333,2.167-14.521-4.312-12.084-7.458l-9.25,7.458c0,0-9.145,12.597-9,15.334
      c0.25,4.75,18.667,2.666,18.667,2.666s9.089-0.637,20.083-3.083c5.438-1.209,12.473-3.471,16.875-5.125
      c19.625-7.375,11.625-10.25,11.375-12.375s-25.125-8.812-25.125-8.812l4.625,0.646c7.148-0.091,22.366-0.622,33.875,0.417
      c19.375,1.75,13.789,8.906,10.75,11.375c-10,8.125-33.124,15.458-63.125,21.125c-5.062,0.956-34.249,7.25-51.749,2.333
      c-5.957-1.674-2.875-7.207-1.251-8.499c1.03-0.82,1.5-3.667,16.833-10.5c6.38-2.844,17.167-5.521,17.167-5.521L1873.25,863
      c-6.062,1-16.557,3.518-26.75,6.25c-88.625,23.75-78.375,43.938-78.375,43.938l-26.083,8.896
      c-1.916-1.791-6.205-2.206-10.479-2.237c-19.145-0.137-28.823,3.798-33.854,5.594c-11.5,4.104-14.699,7.01-17.521,9.375
      c-4.646,3.896-3.146,5.354-3.146,5.354c4.01-2.346,19.907-11.338,29.917-13.917c23.291-6.001,35.812-2.604,34.124-1.146
      s-4.022,3.279-21.415,9.021s-30.75,6.79-30.75,6.79s-10.581,1.498-11.835-0.749c-0.418-0.749-1.015-1.487,3.084-5.376
      s10.722-6.899,17.583-9.416c10-3.667,16.251-4.71,27.751-5.459s19.137,1.244,16.416,4.251c-3.166,3.5-9.188,5.271-13.417,6.938
      c-4.229,1.664-16.771,5.438-16.771,5.438l0.916,2.292c-10.457,3.333-24.021,10.083-24.521,15.479c0,0,14.298-9.068,24-12.812
      c10.454-4.035,21.947-4.989,24.938-5.25c7.155-0.622,15.095,0.788,15.312,0.812c0.562,0.062,2.247,0.774,2.844,1.312
      c0.312,0.281,0.171,0.652-0.676,1.543c-0.792,0.834-1.927,1.723-2.668,2.146c-4.78,2.713-7.526,4.763-26.374,9.938
      c-14.081,3.867-35.166,5.916-37,3.333s3.916-8.25,15.666-13.333c13.527-5.853,27.527-7.955,36.958-8.376
      c14-0.625,15.125,2.875,14.375,4.875c-2.165,5.774-23.625,11.625-23.625,11.625l4.75,6.125c5.841-2.92,24.022-8.933,32.708-11.416
      c2.333-0.667,13.827-2.543,18.917-3.083c8.496-0.901,15.341,0.865,13.875,2.874c-7.75,10.625-44.25,14.625-54.125,14.875
      c-7.249,0.185-12.125,0.375-12-1.875c0.25-4.5,18.744-12.41,30.333-16.375c15.55-5.319,27.5-4.165,33.75-2.499
      c1.506,0.401,4.956,3.646,2.042,5.938c0,0,10.168,0.674,9.812,1.062c-3.438,3.75-2.094,6.406-1.875,6.219
      c0.701-0.602,4.631-4.044,4.75-4.125c3.528-2.409,12.035-6.26,30.688-9.51c27.625-4.812,31.5-0.646,31.5-0.646
      s1.582,3.229-11.75,7.312c-8.979,2.749-12.438,3.688-19.625,4.875c-7.187,1.188-14.688,3-20.875,3.438
      c-7.694,0.544-9.688,0.5-13.25-0.312c-4.671-1.064-2.667-12.749,29-19.375c37.505-7.848,36.651,3.971,36.651,3.971l12.1-3.138
      c1.875,3.542,11.907,2.47,11.75,2.484c-1.658,0.156-6.324,0.354-7.042-2.275c-0.244-0.895,1.242-3.197,3.479-4.417
      c5.039-2.749,18.928-7.345,20.562-7.75c7.812-1.938,24.5-3.25,28.812-3.219c2.807,0.021,5.59,0.012,7.22,0.062
      c2.765,0.086,4.256,0.38,4.5,0.438c2.5,0.594,1.083,3.158-0.595,4.344c-1.775,1.256-3.5,2-7,3.375
      c-7.94,3.12-22.105,5.475-23.688,5.75c-5.427,0.946-19.25,3.5-25.504,3.628c-3.623,0.074-10.996,0.997-12.46-2.601
      c-1.763-4.329,3.957-8.036,7.089-9.402c9.458-4.125,8.959-3.708,23.626-7.208c6.756-1.612,39.937-4.417,39.937,3.333
      c0,0.45,8.918-7.677,9.479-7.624c13.416,1.25,26.44-1.25,26.999-1.375c25.542-5.75,35.219-11.893,34.125-11.959
      c-5.205-0.313-22.828-0.876-39.354,2.521c-10.246,2.104-22.938,10.375-22.938,10.375s-4.312,0.25-4.875-2.625
      s9.062-8.188,19.312-11.75c9.221-3.204,32.164-4.378,37.438-3.812c7,0.75,8.875,2,10.375,4.417
      c1.892,3.046-17.833,8.084-22.208,9.917c-8.566,3.59-21.292,4.249-21.292,4.249s-15.917,1.083-21.333-0.75
      s0.583-5.958,0.583-5.958s4.301-3.322,11.583-6.292c14.917-6.083,36.417-5.458,36.417-5.458l2.501-5.333
      c0,0,22.621-1.076,35.582-2.417c9.667-1,23.917-5.688,24.417-7.75c0.5-2.062-20.25-2.375-35.25-0.75
      c-0.124,0.014-8.36,1.123-8.375,1.125c-20.042,3.125-17.416,9.626-17.416,9.626s-3.981,0.058-6.292-2.75
      c-1.166-1.417,1.76-3.721,7.333-7.376c5.812-3.812,18.094-6.875,28.583-7.083c4.929-0.098,18.979-0.625,23.292-0.292
      s8.521,1.375,10.25,3s-0.271,3.709-3.542,5.792s-8.83,3.33-8.83,3.33s-7.021,2.375-14.688,3.125
      c-7.668,0.75-33.625,2.828-37.479,2.208c-4.396-0.708-4.959-3.708-4.959-3.708s1.124-4.125,11.125-8.292
      s23.833-5.166,23.833-5.166s3.859-3.453,4.459-3.5c22.75-1.792,37.041-6.709,40.458-9.75c0.824-0.734-0.062-2.479-3.438-2.729
      c-0.686-0.051-6.125-0.604-12.312-0.021s-11,1.396-24.438,4.146c-13.69,2.803-22.875,8-22.875,8s-3.271-0.062-2.354-1.812
      s6.751-5.25,6.751-5.25s4.416-2.417,15.083-5.417s19.084-3.833,23.584-4.166s18.602-0.993,20.771,1.646
      c2.576,3.133-0.025,6.229-7.104,8.812c-9.709,3.542-20.176,5.034-29.25,6.042c-9.75,1.083-27.729,1.146-29.729-0.417
      s-1.375-3-1.375-3s-0.188-4.938,11.604-8.583c1.513-0.468,14.417-4.584,14.417-4.584s17.529-3.87,17.583-6.25
      c0.021-0.916-8.697-0.416-11.666-0.458c-17.771,0.448-23.146,2.312-25.354,2.688c-16.526,2.807-22.428,7.812-23.364,8.219
      c-1.812,0.785-3.451-0.305-1.845-2.031c1.25-1.344,6.604-5.011,15.562-7.844c8.947-2.83,26.833-3.906,26.833-3.906
      s17.417-1.917,20,2.167c0.848,1.34-2.513,3.507-7.833,5c-9.5,2.666-17.568,4.258-26.75,5.666
      c-12.5,1.917-21.917,1.334-21.917,1.334s-10.125,0.415-10.333-2.334s4.001-7.082,4.001-7.082s9.183-3.776,8.174-4.847
      c-1.008-1.071-6.675-1.237-6.675-1.237s-11.303-0.782-25.625,2.458c-12.708,2.875-23.504,8.916-23.458,8.792
      c0.584-1.584,20.917-8.25,20.917-8.25l-0.333-3c0,0,26.815-4.454,36.999-0.667c3.584,1.333-7.001,5.499-10,6.75s-14,3.25-14,3.25
      s-37.875,6.625-35.5,0c2.164-6.038,22.5-9.5,22.5-9.5s-23.625-3.625-17-5s54.667-4.334,57.5-4.334c38.342,0,58.186,3.566,65.667,5
      c7.834,1.501,11.333,4,14.5,6.167c5.185,3.548,9.167,13.334,1.333,22.833c-14.091,17.086-65.75,38.084-65.75,38.084
      s-40.25,20.25-116,36.75c-55.667,12.125-110.191,17.958-122,19.25c-16,1.75-53,3.25-70.75,2.25s-41.246-4.287-46.999-7.333
      c-5.667-3-10.501-1.917-10.334-15.166c1.5-6.5,5.166-14.668,15-19.001c0.897-0.396-14.167,3.333-12.667,2.5
      c3.846-2.136,22.5-11,22.5-11s-0.165-5.332,4.334-7.499c6.007-2.894,43.167-6.5,58.667-11.667
      c15.166-5.667,25.59-12.633-3.417-9.583c-1.965,0.206,6.008-0.709,10.542-0.709c1.541,0,3.196,0.146,3.333,0.083
      c16.75-7.542,46.541-22.375,113.105-35.58c22.316-4.427,37.186-6.795,94.811-12.795"/>
  </g>
</g>
</svg>
    <%= javascript_include_tag 'svganimations.js' %>
    <%= javascript_include_tag 'classie.js' %>
</div>

    <div class="common-wrapper" data-page="contacts">
      <div class="shadow-text">
        <div class="content_text">
          В <span class="petrovsky">Petrovsky Apart House</span> менеджеры отдела продаж<br />
          будут рады ответить по телефону и электронной почте<br />
          на все интересующие Вас вопросы.
        </div>
      </div>
      <br />
      <div class="default-block block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div class="contact-info info_text">
            Центральный офис:<br />
            г. Москва, ул. Садовая-Черногрязская, д.8<br />
            Petrovsky Apart House:<br />
            г. Москва, Старопетровский проезд, д. 1<br />
            Телефон Отдела продаж: <span id="call_phone_3">+7(495) 726-72-16</span><br />
            Email: <%= mail_to("sale@apt-petrovsky.com") %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
