    <div class="common-wrapper">
      В <span class="petrovsky">Petrovsky Apart House</span> менеджеры отдела продаж будут рады ответить <br />
по телефону и электронной почте на все интересующие Вас вопросы. <br />
      <br />
      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div class="contact-info">
          Центральный офис:<br />
          г. Москва, Большой Саввинский переулок, д. 11<br />
           <br />
          Petrovsky Apart House:<br />
          г. Москва, Старопетровский проезд, д. 1<br />
           <br />
          Телефон Отдела продаж: +7(495) 726-72-16<br />
          Email: sale@apt-petrovsky.com<br />
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>