<div class="common">

  <div id="slider">
    <div class="slides_container">
      <div class="slide">
        <div>
          <a class="gal" href="images/sampl-1.jpg"><img src="images/sampl-1.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-2.jpg"><img src="images/sampl-2.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-3.jpg"><img src="images/sampl-3.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-4.jpg"><img src="images/sampl-4.jpg" alt="" /><span></span></a>
          <div class="clear"></div>
        </div>
      </div>
      <div class="slide">
        <div>
          <a class="gal" href="images/sampl-5.jpg"><img src="images/sampl-5.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-6.jpg"><img src="images/sampl-6.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-7.jpg"><img src="images/sampl-7.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-8.jpg"><img src="images/sampl-8.jpg" alt="" /><span></span></a>
          <div class="clear"></div>
        </div>
      </div>
      <div class="slide">
        <div>
          <a class="gal" href="images/sampl-9.jpg"><img src="images/sampl-9.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-10.jpg"><img src="images/sampl-10.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-11.jpg"><img src="images/sampl-11.jpg" alt="" /><span></span></a>
          <a class="gal" href="images/sampl-12.jpg"><img src="images/sampl-12.jpg" alt="" /><span></span></a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script type="text/javascript"> 
    try{
      $("#slider").slides({
        next: 'next',
        prev: 'prev',
        play: 5000
      });
    } catch(err) { }
  
    try{    
      $('a.gal').touchTouch();  
    } catch(err) { }
</script>