<header id="header" style="margin-bottom: 0px;">
  <div class="header-holder">
    <div class="container hidden-phone">
      <div class="brow">
        <div class="brick1 logo_container">
          <a href="./Argo_files/Argo.html" class="nav-item clearfix">
            <div class="nav-hover"></div>
            <h1 class="logo">Argo</h1>
          </a>
        </div>
        <div class="brick1 transparent"></div>
      </div>
      <div class="brow">
        <div class="slogan brick3 boffset1 transparent text-right">
          <div class="inner">
            <h1>Argo Theme dolor sit amet tElasde</h1>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut
          </div>
          
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#services" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bulb"></i>
            <span>Services</span>
          </a>
        </div>
        <div class="brick1 thumb">
          <div class="nav-item flipX">
            <img class="img1" src="./Argo_files/img-slide1.png" alt="">
            <img class="img2" src="./Argo_files/pf4.png" alt="">
          </div>
        </div>
      </div>
      <div class="brow">
        <div class="brick1 thumb">
          <div class="nav-item flipX">
            <img class="img1" src="./Argo_files/img-slide2.png" alt="">
            <img class="img2" src="./Argo_files/pf10.png" alt="">
          </div>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#portfolio" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_photo"></i>
            <span>Portfolio</span>
          </a>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#about-us" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bubble"></i>
            <span>About us</span>
          </a>
        </div>
        <div class="brick1 thumb">
          <div class="nav-item flipY">
            <img class="img1" src="./Argo_files/img-slide3.png" alt="">
            <img class="img2" src="./Argo_files/pf11.png" alt="">
          </div>
        </div>
        <div class="brick1 thumb active">
          <div class="nav-item flipX">
            <img class="img1" src="./Argo_files/img-slide4.png" alt="">
            <img class="img2" src="./Argo_files/pf8.png" alt="">
          </div>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#blog" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_note"></i>
            <span>Blog</span>
          </a>
        </div>
      </div>
      <div class="brow">
        <div class="brick1 boffset2 thumb active">
          <div class="nav-item flipY">
            <img class="img1" src="./Argo_files/img-slide5.png" alt="">
            <img class="img2" src="./Argo_files/pf7.png" alt="">
          </div>
        </div>
        <div class="brick1 thumb active">
          <div class="nav-item flipY">
            <img class="img1" src="./Argo_files/img-slide6.png" alt="">
            <img class="img2" src="./Argo_files/pf6.png" alt="">
          </div>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#contact" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_paperplane"></i>
            <span>Contact us</span>
          </a>
        </div>
      </div>

    </div>

    <div class="container visible-phone">
      <div class="brick1 logo_container">
          <a href="./Argo_files/Argo.html" class="nav-item clearfix">
            <div class="nav-hover"></div>
            <h1 class="logo">Argo</h1>
          </a>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#services" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bulb"></i>
            <span>Services</span>
          </a>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#portfolio" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_photo"></i>
            <span>Portfolio</span>
          </a>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#about-us" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bubble"></i>
            <span>About us</span>
          </a>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#blog" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_note"></i>
            <span>Blog</span>
          </a>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#contact" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_paperplane"></i>
            <span>Contact us</span>
          </a>
        </div>
    </div>
  </div>
</header> <!-- End header -->
