<%= javascript_include_tag 'pages/lines_load.js' %>
<script type="text/javascript">
  $( window ).resize(function() {
    $('#main').css('margin-left', (-2320+$(window).width())/2);
    console.log($(window).width());
  });
</script>
<div id="main" class="main">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2320" viewBox="0 0 2320 1200" enable-background="new 0 0 2320 1200" xml:space="preserve">
<g id="Layer_2">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M830.667,332.667l-3,809.334l532.666,33.332l234-76.667
    l0.667-286.333l-12.667-30.666l-1-11.667l12.334-4.667l-30.001-70.666l-18.996,5.182l-0.004-9.182l15.334-4l-35-81.333l-23,9.333
    l-0.334-13l18.666-7.001l-56.666-135.333l-33.334,14L1431,452l23.333-13.333L1271,8l-226.667,190l-4.667-5.333L830.564,331.258"/>
</g>
<g id="Layer_3">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M829,427l437-256l328,643"/>
</g>
<g id="Layer_4">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1262.333,991.334l103.334,17.667l54.333,3.166l174.833,29.667
    L1595,1076.5l-187.667,33.167h-42.666L1266,1124l-75.75-2.5l-0.5-124.5l72.25-6l4-819"/>
</g>
</svg>
</svg>
    <script src="http://tympanus.net/Development/SVGDrawingAnimation/js/classie.js"></script>
    <script src="http://tympanus.net/Development/SVGDrawingAnimation/js/svganimations.js"></script>
</div>
<% content_for :presentation do %>
  <div id="animated-text-backgrounds">
    <div class="background-0"></div>
    <div class="background-1"></div>
    <div class="background-2"></div>
    <div class="background-3"></div>
    <div class="background-4"></div>
    <div class="background-5"></div>
  </div>
    </div>
    <div id="animated-text-container">
      <div id="main_hidden_1">
        <div class="line greeting title">PETROVSKY APART HOUSE</div>
        <div class="line greeting description first">МЫ РАДЫ ПРЕДСТАВИТЬ</div>
        <div class="line greeting description second">ПРОЕКТ НОВОГО</div>
        <div class="line greeting description third">УРОВНЯ ЖИЗНИ</div>
        <div class="line greeting description fourth">В МЕГАПОЛИСЕ</div>
        <div class="line greeting description fifth thesisWord">PETROVSKY APART HOUSE</div>

        <div class="line thesis harmony">PETROVSKY APART HOUSE – ГАРМОНИЯ</div>
        <div class="line description harmony first">ЗДЕСЬ УЧТЕНЫ ВСЕ</div>
        <div class="line description harmony second">АСПЕКТЫ</div>
        <div class="line description harmony third thesisWord">ГАРМОНИЧНОЙ</div>
        <div class="line description harmony fourth">ЖИЗНИ</div>

        <div class="line thesis liberty">PETROVSKY APART HOUSE – СВОБОДА</div>
        <div class="line description liberty first thesisWord">СВОБОДА</div>
        <div class="line description liberty second">ПЕРЕМЕЩЕНИЯ</div>
        <div class="line description liberty third">В ПРОСТРАНСТВЕ</div>

        <div class="line thesis comfort">PETROVSKY APART HOUSE – КОМФОРТ</div>
        <div class="line description comfort first">ФИЛОСОФИЯ</div>
        <div class="line description comfort second">СТИЛЯ</div>
        <div class="line description comfort third thesisWord">И КОМФОРТА</div>
        <div class="line description comfort fourth">В КАЖДОЙ ДЕТАЛИ</div>
        <!--<div class="line description comfort fifth">ДЕТАЛИ</div> -->
      </div>
      <div id="main_hidden_2">
        <div class="line thesises title">PETROVSKY APART HOUSE</div>
        <div class="line thesises first">ОЩУЩЕНИЕ ГАРМОНИИ,</div>
        <div class="line thesises second">СВОБОДЫ И КОМФОРТА</div>
      </div>
      <div id="main_hidden_3">
        <a class="concl-link" id="concept_link" href="/concept">
        <div class="line conclusion introduction first">PETROVSKY APART HOUSE КАЧЕСТВЕННО НОВЫЙ УНИКАЛЬНЫЙ ПРОДУКТ,</div>

        <div class="line conclusion introduction second"> С ПРОДУМАННОЙ ЭРГОНОМИКОЙ И КОМПЛЕКСНЫМ ПОДХОДОМ ДЛЯ ЛЮДЕЙ,</div>
        <div class="line conclusion introduction third">ПРЕДПОЧИТАЮЩИХ КОМФОРТНЫЙ, СТИЛЬНЫЙ И ДИНАМИЧНЫЙ ОБРАЗ ЖИЗНИ.<br /></div>
        </a>
        <a class="concl-link" id="gallery_link" href="/gallery">
        <div class="line conclusion harmony first">ГАРМОНИЯ ЖИЗНИ В ВОЗМОЖНОСТИ УЕДИНЕНИЯ В СОБСТВЕННОМ </div>
        <div class="line conclusion harmony second">ОАЗИСЕ - ЗЕЛЕНОЙ ОБУСТРОЕННОЙ ТЕРРАСЕ НА КРЫШЕ.</div>
        </a>
        <a class="concl-link" id="floorplans_link" href="/floor_plans">
        <div class="line conclusion liberty first">СВОБОДА ДЕЙСТВИЙ В ВЫБОРЕ ФУНКЦИОНАЛЬНО-ПЛАНИРОВОЧНЫХ РЕШЕНИЙ </div>
        <div class="line conclusion liberty second">И РАЗРАБОТКЕ СОБСТВЕННОГО ДИЗАЙНА.</div>
        </a>
        <a class="concl-link" id="service_link" href="/service">
        <div class="line conclusion comfort first">КОМФОРТ С ИСПОЛЬЗОВАНИЕМ ЭКСКЛЮЗИВНЫХ ВОЗМОЖНОСТЕЙ</div>

        <div class="line conclusion comfort second"> СЕРВИСА, ПРЕДОСТАВЛЯЕМОГО УПРАВЛЯЮЩЕЙ КОМПАНИЕЙ.</div>
        </a>
      </div>
    </div>
<% end %>
<%= raw(@message.content) if @message %>