<%= javascript_include_tag 'pages/lines_load.js' %>
<script type="text/javascript">
  $( window ).resize(function() {
    $('#main').css('margin-left', (-2560+$(window).width())/2);
    if ($.cookie("number")!=13) {$('#main').show();$('#main_2').show();}
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2560" viewBox="0 0 2320 1200" enable-background="new 0 0 2320 1200" xml:space="preserve">
<g id="Общий_x5F_контур_x5F_здания">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M830.667,332.667l-3,809.334l532.666,33.332l234-76.667
        l0.667-286.333l-12.667-30.666l-1-11.667l12.334-4.667l-30.001-70.666l-18.996,5.182l-0.004-9.182l15.334-4l-35-81.333l-23,9.333
        l-0.334-13l18.666-7.001l-56.666-135.333l-33.334,14L1431,452l23.333-13.333L1271,8l-226.667,190l-4.667-5.333L830.564,331.258"/>
</g>
<g id="Контур_x5F_мансардного_x5F_этажа">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M829,427l437-256l328,643"/>
</g>
<g id="фасад_x5F_Петровский_x5F_проезд_x5F_1этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1262.333,991.334l103.334,17.667l54.333,3.166l174.375,29.708
        l-0.125,34.5l-186.917,33.292h-42.666L1266,1124l-75.75-2.5l-0.5-124.5l72.25-6l4-819"/>
</g>
<g id="окно_x5F_1этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1080.75,1001l24.75-1l-0.5,107.5h-24L1080.75,1001z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1109.75,1000l22-0.5l-0.875,108.125l-22.125,0.125L1109.75,1000z
        "/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1136,999.25l31.625-0.375l-0.75,109.125H1135.5L1136,999.25z"/>
</g>
<g id="контур_x5F_двери_x5F_1этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M990.333,1010.667l38.333-1l-0.333,106L989,1114.001
        L990.333,1010.667z"/>
</g>
<g id="окна_x5F_двери_x5F_1этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M996.333,1024.001l14.333-2l-0.333,83.333l-15-0.667
        L996.333,1024.001z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1015.667,1021.334l8,0.667l0.333,83.666l-8-0.333
        L1015.667,1021.334z"/>
</g>
<g id="окно_x5F_1этаж_1_">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M923.25,1013.5l17.5-0.5l-0.5,34.5L923,1048L923.25,1013.5z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M940.25,1097.5l-17.5-0.25l0.5-39.25l17-0.5V1097.5z"/>
</g>
<g id="окно_x5F_1этаж_2_">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M874,1015.75l13.5-0.583l0.083,33.166l-14.417,0.167L874,1015.75z
        "/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M873.75,1058l13.75-0.25l0.25,38L874,1095.5L873.75,1058z"/>
</g>
<g id="окна_x5F_2этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1165,879.668l30-5.334v40.334l-30.333,4L1165,879.668z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1164.334,927.334l30.666-4.333v20.667l-30.333,3
        L1164.334,927.334z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1090,915.334l27.333-3l0.333,39l-28,2L1090,915.334z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1089.667,888.001l28-4v21L1090,907.668L1089.667,888.001z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1002,899.334l23-3v19.334l-23,2.666V899.334z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1002.5,925.167l22.833-3.166l-0.667,36.333l-23,1.667
        L1002.5,925.167z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M921.333,910.334l19.333-3.333l-0.333,33l-19,2.333V910.334z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M921.333,949.001l18.333-2.333v19.166L921,967.001
        L921.333,949.001z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M875.333,916.334L892,913.668v17l-17,2.666L875.333,916.334z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M876,938.001l16-2.5l-0.333,32.833l-15.667,1.5V938.001z"/>
</g>
<g id="Окна_x5F_3этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1164.334,742l30.333-8.333l0.333,38.667L1164.667,778
        L1164.334,742z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1165,786.667l29.5-5.166l0.5,19.833l-29.666,5L1165,786.667z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1089.333,757.334l27.833-7.334l0.333,19.167L1089.667,776
        L1089.333,757.334z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1090,783.667l28-6.667v38.334l-28.667,4.333L1090,783.667z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1002.333,777.001l23-6.167v19.667l-23.167,5L1002.333,777.001z"
        />
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1002.833,802.167l22.667-4.833l0.333,34.667l-23.5,4.667
        L1002.833,802.167z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M921.833,795.168L941,789.501v32.667l-18.833,4.166
        L921.833,795.168z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M922,832.168l18.5-4.334l-0.333,20.167l-18.333,3L922,832.168z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M874.5,805.501l17-3.5l0.333,17.5L875,823.168L874.5,805.501z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M874.833,828.501l17-3.5v31.833L875,859.501L874.833,828.501z"/>
</g>
<g id="Окна_x5F_4этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1163.5,596.75L1195,586v39.75l-31.25,9L1163.5,596.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1195,634.25v17.25l-30.25,9.5l-0.25-17.5L1195,634.25z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1089,621.75l28.5-10.5l0.25,20l-29,9L1089,621.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1089,648l28.75-9l0.25,32.25l-28.75,8L1089,648z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1002,649.75l22.75-7.75l0.25,19.25l-22.75,7.75L1002,649.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1001.5,675l23.25-7.5l0.5,32.5l-23,6.5L1001.5,675z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M922,675l18.75-6.75l0.25,33L922,708V675z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M921.875,713.75L941,707.5l0.125,16.125l-19.375,5.625
        L921.875,713.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M874.25,691l17.5-7l0.25,19l-17.5,6.25L874.25,691z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M874.5,714.75l17.75-6l-0.25,27.5L874.5,740V714.75z"/>
</g>
<g id="Окна_x5F_5этаж">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1165,457.75l29.75-13.75l0.25,39l-30.25,13L1165,457.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1164,504l30.75-12.75v22l-30.5,11.25L1164,504z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1088.75,489.75l29-13v19.5l-28.5,11.75L1088.75,489.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1089,517l28.5-12.25l0.25,37l-28.25,11L1089,517z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1001.875,527.625l22.625-10.875l0.25,18l-23,9.5
        L1001.875,527.625z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1002.25,551.75l22.5-9.5v34.5l-22.5,8.25V551.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M921.5,561.25l19-8.75l0.25,32.25l-19,8L921.5,561.25z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M922,600l18.5-8l0.25,14L922,613.5V600z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M891.5,589.75L874.75,597l-0.5-12.75l17-8.5L891.5,589.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M892,627.75L874.75,634l0.25-30.5l16.75-7.5L892,627.75z"/>
</g>
<g id="Layer_14">
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1164.5,324.5L1194,308v37.5l-29,14.5L1164.5,324.5z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1165.5,370l28.5-14l0.25,11l-28.75,13.5V370z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1117,366l-27,13.5l-0.5-16l27-14.5L1117,366z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1117.5,400.5l-28,13.5l-0.5-24.5l28-15L1117.5,400.5z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1024.75,396.25L1025,413l-23.25,11.5l-0.25-16L1024.75,396.25z"
        />
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1024.75,421.5l0.25,27l-23,10.75l-0.25-26.25L1024.75,421.5z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M940.75,440.5v31.25l-19,9.5V451L940.75,440.5z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M940.75,479l-0.25,10l-18.5,9.25l-0.25-9.5L940.75,479z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M891.875,465.75L892,480.5l-17.75,9.5v-14.25L891.875,465.75z"/>
    <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M891.75,488v21.5l-17,7.75v-20.5L891.75,488z"/>
</g>
</svg>
    <script src="http://tympanus.net/Development/SVGDrawingAnimation/js/classie.js"></script>
    <script src="http://tympanus.net/Development/SVGDrawingAnimation/js/svganimations.js"></script>
</div>
<% content_for :presentation do %>
  <div id="animated-text-backgrounds">
    <div class="background-0"></div>
    <div class="background-1"></div>
    <div class="background-2"></div>
    <div class="background-3"></div>
    <div class="background-4"></div>
    <div class="background-5"></div>
  </div>
    </div>
    <div id="animated-text-container">
      <div id="main_hidden_1">
        <div class="line greeting title">PETROVSKY APART HOUSE</div>
        <div class="line greeting description first">МЫ РАДЫ ПРЕДСТАВИТЬ</div>
        <div class="line greeting description second">ПРОЕКТ НОВОГО</div>
        <div class="line greeting description third">УРОВНЯ ЖИЗНИ</div>
        <div class="line greeting description fourth">В МЕГАПОЛИСЕ</div>
        <div class="line greeting description fifth thesisWord">PETROVSKY APART HOUSE</div>

        <div class="line thesis harmony">PETROVSKY APART HOUSE – ГАРМОНИЯ</div>
        <div class="line description harmony first">ЗДЕСЬ УЧТЕНЫ ВСЕ</div>
        <div class="line description harmony second">АСПЕКТЫ</div>
        <div class="line description harmony third thesisWord">ГАРМОНИЧНОЙ</div>
        <div class="line description harmony fourth">ЖИЗНИ</div>

        <div class="line thesis liberty">PETROVSKY APART HOUSE – СВОБОДА</div>
        <div class="line description liberty first thesisWord">СВОБОДА</div>
        <div class="line description liberty second">ПЕРЕМЕЩЕНИЯ</div>
        <div class="line description liberty third">В ПРОСТРАНСТВЕ</div>

        <div class="line thesis comfort">PETROVSKY APART HOUSE – КОМФОРТ</div>
        <div class="line description comfort first">ФИЛОСОФИЯ</div>
        <div class="line description comfort second">СТИЛЯ</div>
        <div class="line description comfort third thesisWord">И КОМФОРТА</div>
        <div class="line description comfort fourth">В КАЖДОЙ ДЕТАЛИ</div>
        <!--<div class="line description comfort fifth">ДЕТАЛИ</div> -->
      </div>
      <div id="main_hidden_2">
        <div class="line thesises title">PETROVSKY APART HOUSE</div>
        <div class="line thesises first">ОЩУЩЕНИЕ ГАРМОНИИ,</div>
        <div class="line thesises second">СВОБОДЫ И КОМФОРТА</div>
      </div>
      <div id="main_hidden_3">
        <a class="concl-link" id="concept_link" href="/concept">
        <div class="line conclusion introduction first">PETROVSKY APART HOUSE КАЧЕСТВЕННО НОВЫЙ УНИКАЛЬНЫЙ ПРОДУКТ,</div>

        <div class="line conclusion introduction second"> С ПРОДУМАННОЙ ЭРГОНОМИКОЙ И КОМПЛЕКСНЫМ ПОДХОДОМ ДЛЯ ЛЮДЕЙ,</div>
        <div class="line conclusion introduction third">ПРЕДПОЧИТАЮЩИХ КОМФОРТНЫЙ, СТИЛЬНЫЙ И ДИНАМИЧНЫЙ ОБРАЗ ЖИЗНИ.<br /></div>
        </a>
        <a class="concl-link" id="gallery_link" href="/gallery">
        <div class="line conclusion harmony first">ГАРМОНИЯ ЖИЗНИ В ВОЗМОЖНОСТИ УЕДИНЕНИЯ В СОБСТВЕННОМ </div>
        <div class="line conclusion harmony second">ОАЗИСЕ - ЗЕЛЕНОЙ ОБУСТРОЕННОЙ ТЕРРАСЕ НА КРЫШЕ.</div>
        </a>
        <a class="concl-link" id="floorplans_link" href="/floor_plans">
        <div class="line conclusion liberty first">СВОБОДА ДЕЙСТВИЙ В ВЫБОРЕ ФУНКЦИОНАЛЬНО-ПЛАНИРОВОЧНЫХ РЕШЕНИЙ </div>
        <div class="line conclusion liberty second">И РАЗРАБОТКЕ СОБСТВЕННОГО ДИЗАЙНА.</div>
        </a>
        <a class="concl-link" id="service_link" href="/service">
        <div class="line conclusion comfort first">КОМФОРТ С ИСПОЛЬЗОВАНИЕМ ЭКСКЛЮЗИВНЫХ ВОЗМОЖНОСТЕЙ</div>

        <div class="line conclusion comfort second"> СЕРВИСА, ПРЕДОСТАВЛЯЕМОГО УПРАВЛЯЮЩЕЙ КОМПАНИЕЙ.</div>
        </a>
      </div>
    </div>
<% end %>

<%= raw(@message.content) if @message %>