<header id="header" style="margin-bottom: 0px;">
  <div class="header-holder">
    <div class="container hidden-phone">
      <div class="brow">
        <div class="brick1 logo_container">
          <a href="./Argo_files/Argo.html" class="nav-item clearfix">
            <div class="nav-hover"></div>
            <h1 class="logo">Argo</h1>
          </a>
        </div>
        <div class="brick1 transparent"></div>
      </div>

      <div class="brow">
        <div id="scroll-wrap" class="container">
          <div class="main">
            <div id="bookshelf" class="bookshelf">
                <!-- one item begin with bookblock -->
                <div class="special">
                <div class="books" data-book="book-1"></div>
                <div class="brick1 odd">
                  <a href="#" class="nav-item">
                    <div class="nav-hover"></div>
                    <span>Test this book</span>
                  </a>
                  <a href="#"></a>
                </div>
                <div class="details">
                  <ul>
                  </ul>
                </div>
              </div>
                <!-- one item end with bookblock -->

                <div class="brick1 thumb">
                  <div class="nav-item flipX">
                    <img class="img1" src="./Argo_files/img-slide1.png" alt="">
                    <img class="img2" src="./Argo_files/pf4.png" alt="">
                  </div>
                </div>

                <!-- one item begin -->
                                <div class="special">

                <div class="books" data-book="book-2"></div>
                <div class="brick1 ">
                  <a href="#" class="nav-item">
                    <div class="nav-hover"></div>
                    <span>Another</span>
                  </a>
                  <a href="#"></a>
                </div>
                <div class="details">
                  <ul>
                  </ul>
                </div>
              </div>
                <!-- one item begin -->

                <div class="books" ></div>
                <div class="brick1 odd">
                  <a href="changeURL" class="nav-item">
                    <div class="nav-hover"></div>
                    <span>Another</span>
                  </a>
                  <a href="#"></a>
                </div>
                <div class="details">
                  <ul>
                  </ul>
                </div>


            </div>
          </div><!-- /main -->
        </div><!-- /container -->
      </div>
    </div>
  </div>


<!-- Fullscreen BookBlock -->
<!-- for demo purpose we repeat each bookblock -->
<div class="bb-custom-wrapper" id="book-1">
  <div class="bb-bookblock">
    <div class="bb-item">
      <div class="bb-custom-side page-layout-3">
        <div>
          <h3>1</h3>
          <p>Photography (1999 &ndash; 2013)</p>
        </div>
      </div>
      <div class="bb-custom-side page-layout-3">
      </div>
    </div>
    <div class="bb-item">
      <div class="bb-custom-side page-layout-1">
        <h3>
          Chapter 9 <span>Nomadic Lifestyle</span>
        </h3>
      </div>
      <div class="bb-custom-side page-layout-1">
        <p>Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan cookie.</p>
      </div>
    </div>
    <div class="bb-item">
      <div class="bb-custom-side page-layout-2">
        <div>
          <h3>Aa</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
        <div>
          <h3>Bb</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
      </div>
      <div class="bb-custom-side page-layout-2">
        <div>
          <h3>Cc</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
        <div>
          <h3>Dd</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
      </div>
    </div>
  </div><!-- /bb-bookblock -->
  <nav>
    <a href="#" class="bb-nav-prev">Previous</a>
    <a href="#" class="bb-nav-next">Next</a>
    <a href="#" class="bb-nav-close">Close</a>
  </nav>
</div><!-- /bb-custom-wrapper -->

<div class="bb-custom-wrapper" id="book-2">
  <div class="bb-bookblock">
    <div class="bb-item">
      <div class="bb-custom-side page-layout-3">
        <div>
          <h3>2</h3>
          <p>Photography (1999 &ndash; 2013)</p>
        </div>
      </div>
      <div class="bb-custom-side page-layout-3">
      </div>
    </div>
    <div class="bb-item">
      <div class="bb-custom-side page-layout-1">
        <h3>
          Chapter 9 <span>Nomadic Lifestyle</span>
        </h3>
      </div>
      <div class="bb-custom-side page-layout-1">
        <p>Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan cookie.</p>
      </div>
    </div>
    <div class="bb-item">
      <div class="bb-custom-side page-layout-2">
        <div>
          <h3>Aa</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
        <div>
          <h3>Bb</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
      </div>
      <div class="bb-custom-side page-layout-2">
        <div>
          <h3>Cc</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
        <div>
          <h3>Dd</h3>
          <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
        </div>
      </div>
    </div>
  </div><!-- /bb-bookblock -->
  <nav>
    <a href="#" class="bb-nav-prev">Previous</a>
    <a href="#" class="bb-nav-next">Next</a>
    <a href="#" class="bb-nav-close">Close</a>
  </nav>
</div><!-- /bb-custom-wrapper -->


</header> <!-- End header -->
