<%= javascript_include_tag 'pages/lines_load.js' %>

<% content_for :presentation do %>
  <div id="animated-text-backgrounds">
    <div class="background-0"></div>
    <div class="background-1"></div>
    <div class="background-2"></div>
    <div class="background-3"></div>
    <div class="background-4"></div>
    <div class="background-5"></div>
  </div>
    <div id="animated-text-container">
      <div id="main_hidden_1">
        <div class="line greeting title">PETROVSKY APART HOUSE</div>
        <div class="line greeting description first">МЫ РАДЫ ПРЕДСТАВИТЬ</div>
        <div class="line greeting description second">ПРОЕКТ НОВОГО</div>
        <div class="line greeting description third">УРОВНЯ ЖИЗНИ</div>
        <div class="line greeting description fourth">В МЕГАПОЛИСЕ</div>
        <div class="line greeting description fifth thesisWord">PETROVSKY APART HOUSE</div>

        <div class="line thesis harmony">PETROVSKY APART HOUSE – ГАРМОНИЯ</div>
        <div class="line description harmony first">ЗДЕСЬ УЧТЕНЫ ВСЕ</div>
        <div class="line description harmony second">АСПЕКТЫ</div>
        <div class="line description harmony third thesisWord">ГАРМОНИЧНОЙ</div>
        <div class="line description harmony fourth">ЖИЗНИ</div>

        <div class="line thesis liberty">PETROVSKY APART HOUSE – СВОБОДА</div>
        <div class="line description liberty first thesisWord">СВОБОДА</div>
        <div class="line description liberty second">ПЕРЕМЕЩЕНИЯ</div>
        <div class="line description liberty third">В ПРОСТРАНСТВЕ</div>

        <div class="line thesis comfort">PETROVSKY APART HOUSE – КОМФОРТ</div>
        <div class="line description comfort first">ФИЛОСОФИЯ</div>
        <div class="line description comfort second">СТИЛЯ</div>
        <div class="line description comfort third thesisWord">И КОМФОРТА</div>
        <div class="line description comfort fourth">В КАЖДОЙ</div>
        <div class="line description comfort fifth">ДЕТАЛИ</div>
      </div>
      <div id="main_hidden_2">
        <div class="line thesises title">PETROVSKY APART HOUSE</div>
        <div class="line thesises first">ГАРМОНИЯ</div>
        <div class="line thesises second">СВОБОДА</div>
        <div class="line thesises third">КОМФОРТ</div>
      </div>
      <div class="line conclusion introduction first">PETROVSKY APART HOUSE НОВЫЙ УНИКАЛЬНЫЙ ПРОЕКТ, С ПРОДУМАННОЙ ЭРГОНОМИКОЙ</div>
      <div class="line conclusion introduction second">И КОМПЛЕКСНЫМ ПОДХОДОМ ДЛЯ ЛЮДЕЙ, ПРЕДПОЧИТАЮЩИХ КОМФОРТНЫЙ, СТИЛЬНЫЙ,</div>
      <div class="line conclusion introduction third">ДИАМИЧНЫЙ ОБРАЗ ЖИЗНИ.</div>
      <div class="line conclusion harmony first">ГАРМОНИЯ ЖИЗНИ ДЛЯ ЦЕНИТЕЛЕЙ ПРИРОДНОЙ КРАСОТЫ С ПРЕКРАСНЫМИ ВИДАМИ НА</div>
      <div class="line conclusion harmony second">ПАРКИ И ИХ ОКРЕСТНОСТИ С ОБЩЕСТВЕННОЙ ТЕРРАСЫ В СТИЛЕ LAND-ART, РАСПОЛОЖЕННОЙ</div>
      <div class="line conclusion harmony third">НА КРЫШЕ ДОМА.</div>
      <div class="line conclusion liberty first">СВОБОДА ДЕЙСТВИЙ В ВЫБОРЕ ФУНКЦИОНАЛЬНО-ПЛАНИРОВОЧНЫХ</div>
      <div class="line conclusion liberty second">РЕШЕНИЙ И СОЗДАНИЙ СОБСТВЕННОГО ДИЗАЙНА.</div>
      <div class="line conclusion comfort first">КОМФОРТ С ИСПОЛЬЗОВАНИЕМ ЭКСКЛЮЗИВНЫХ ВОЗМОЖНОСТЕЙ</div>
      <div class="line conclusion comfort second">СЕРВИСА, ПРЕДОСТАВЛЯЕМОГО КОНСЬЕРЖ СЛУЖБОЙ.</div>
    </div>
<% end %>

<%= raw(@message.content) if @message %>
