<header id="header" style="margin-bottom: 0px;">
  <div class="header-holder">
    <div class="container hidden-phone">
      <div class="brow">
        <div class="brick1 logo_container">
          <a href="./Argo_files/Argo.html" class="nav-item clearfix">
            <div class="nav-hover"></div>
            <h1 class="logo">Argo</h1>
          </a>
        </div>
        <div class="brick1 transparent"></div>
      </div>
      <div class="brow">
        <div class="slogan brick3 boffset1 transparent text-right">
          <div class="inner">
            <h1>Argo Theme dolor sit amet tElasde</h1>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut
          </div>
          
        </div>

        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#services" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bulb"></i>
            <span>Services</span>
          </a>
        </div>
        <div class="brick1 thumb">
          <div class="nav-item flipX">
            <img class="img1" src="./Argo_files/img-slide1.png" alt="">
            <img class="img2" src="./Argo_files/pf4.png" alt="">
          </div>
        </div>
      </div>
      <div class="brow">
        <div class="brick1 thumb">
          <div class="nav-item flipX">
            <img class="img1" src="./Argo_files/img-slide2.png" alt="">
            <img class="img2" src="./Argo_files/pf10.png" alt="">
          </div>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#portfolio" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_photo"></i>
            <span>Portfolio</span>
          </a>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#about-us" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bubble"></i>
            <span>About us</span>
          </a>
        </div>
        <div class="brick1 thumb">
          <div class="nav-item flipY">
            <img class="img1" src="./Argo_files/img-slide3.png" alt="">
            <img class="img2" src="./Argo_files/pf11.png" alt="">
          </div>
        </div>
        <div class="brick1 thumb active">
          <div class="nav-item flipX">
            <img class="img1" src="./Argo_files/img-slide4.png" alt="">
            <img class="img2" src="./Argo_files/pf8.png" alt="">
          </div>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#blog" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_note"></i>
            <span>Blog</span>
          </a>
        </div>
      </div>
      <div class="brow">
        <div class="brick1 boffset2 thumb active">
          <div class="nav-item flipY">
            <img class="img1" src="./Argo_files/img-slide5.png" alt="">
            <img class="img2" src="./Argo_files/pf7.png" alt="">
          </div>
        </div>
        <div class="brick1 thumb active">
          <div class="nav-item flipY">
            <img class="img1" src="./Argo_files/img-slide6.png" alt="">
            <img class="img2" src="./Argo_files/pf6.png" alt="">
          </div>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#contact" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_paperplane"></i>
            <span>Contact us</span>
          </a>
        </div>
      </div>

    </div>

    <div class="container visible-phone">
      <div class="brick1 logo_container">
          <a href="./Argo_files/Argo.html" class="nav-item clearfix">
            <div class="nav-hover"></div>
            <h1 class="logo">Argo</h1>
          </a>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#services" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bulb"></i>
            <span>Services</span>
          </a>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#portfolio" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_photo"></i>
            <span>Portfolio</span>
          </a>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#about-us" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_bubble"></i>
            <span>About us</span>
          </a>
        </div>
        <div class="brick1">
          <a href="http://themestrong.com/demo/argo/live_menu.html#blog" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_note"></i>
            <span>Blog</span>
          </a>
        </div>
        <div class="brick1 odd">
          <a href="http://themestrong.com/demo/argo/live_menu.html#contact" class="nav-item">
            <div class="nav-hover"></div>
            <i class="li_paperplane"></i>
            <span>Contact us</span>
          </a>
        </div>
    </div>
  </div>
</header> <!-- End header -->

<div id="scroll-wrap" class="container">
      <div class="main">
        <div id="bookshelf" class="bookshelf">
          <figure>
            <div class="book" data-book="book-1"></div>
            <div class="buttons"><a href="#">Look inside</a><a href="#">Details</a></div>
            <div class="details">
              <ul>
              </ul>
            </div>
          </figure>
        </div>
      </div><!-- /main -->
    </div><!-- /container -->

    <!-- Fullscreen BookBlock -->
    <!-- for demo purpose we repeat each bookblock -->
    <div class="bb-custom-wrapper" id="book-1">
      <div class="bb-bookblock">
        <div class="bb-item">
          <div class="bb-custom-side page-layout-3">
            <div>
              <h3>Portraits</h3>
              <p>Photography (1999 &ndash; 2013)</p>
            </div>
          </div>
          <div class="bb-custom-side page-layout-3">
          </div>
        </div>
        <div class="bb-item">
          <div class="bb-custom-side page-layout-1">
            <h3>
              Chapter 9 <span>Nomadic Lifestyle</span>
            </h3>
          </div>
          <div class="bb-custom-side page-layout-1">
            <p>Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan cookie.</p>
          </div>
        </div>
        <div class="bb-item">
          <div class="bb-custom-side page-layout-2">
            <div>
              <h3>Aa</h3>
              <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
            </div>
            <div>
              <h3>Bb</h3>
              <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
            </div>
          </div>
          <div class="bb-custom-side page-layout-2">
            <div>
              <h3>Cc</h3>
              <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
            </div>
            <div>
              <h3>Dd</h3>
              <p>Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.</p>
            </div>
          </div>
        </div>
      </div><!-- /bb-bookblock -->
      <nav>
        <a href="#" class="bb-nav-prev">Previous</a>
        <a href="#" class="bb-nav-next">Next</a>
        <a href="#" class="bb-nav-close">Close</a>
      </nav>
    </div><!-- /bb-custom-wrapper -->
