<script type="text/javascript">
  $(window).resize(resize_2560_right_top);
  $(document).ready(function () {
    $('#main').show()
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg class="svg bg-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2560 1714" enable-background="new 0 0 2560 1714" xml:space="preserve">
<g id="Layer_2">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2174.668,1117.334c0,0-5.668-0.834-7.334-3.667
    S2167,1098.5,2167,1098.5s-0.334-1.5,5-2s17.334,1.834,17.334,1.834l-23-21.667c0,0-8.396-9.095-29.666-16
    c-9.831-3.192-67.251-15.416-67.251-15.416l-0.167,23.988l99.781,10.011l-99.781-9.969l-0.083,13.553l-42.834-3.667v-44.666
    l43.125,10.665c0,0-41.446-9.438-51.124-14.499c-7.15-3.74-3.001-22.167,3-29.667s18.916-11.125,18.916-11.125L2164.334,937
    c0,0-8.667-6.334-10-19.667s5.166-23.166,22.333-29.666s79.349-9.668,98.334-10.667c25.333-1.333,67,0,67,0
    s12.5-15.333,16.666-22.5c6.51-11.198,6.167-26.667,4.834-28c-0.073-0.073,6.666-13.5,6.666-13.5
    c1.59,1.077,3.5,21.333,1.834,27.667c-6.471,24.598-20.834,36.666-20.834,36.666l11.334,0.5c0,0,19.334-16,22.5-40.167
    c3.834-29.262-10.5-33.5-10.5-33.5l7.666-15.333l-19.015,37.955l-1.818,0.545c0,0,1,10.333-30.333,3
    c-16.689-3.906-65.334-22-65.334-22s-23-5.333-23.666-25c-0.396-11.718,8.999-21.5,16-25s25.916-4.167,35.333-5
    S2307.75,743,2318,741.25s39.837,1.809,46.75,2.5c12.5,1.25,32.75,9.917,32.75,9.917l0.5-168.333l0.861-210.588L2075.333,434
    L2070,977.375l-44.125,19l5.792-611.708l43.333-8V392l485-94.667V348l-90.666,16.333l-0.833,705.833l91.499,7.834v40.665
    l-358.062-36.072l-11.437-11.261c0,0,15.333,3.294,27.583,1.335c2.381-0.381,13.063-0.611,17.479-6.23
    c6.188-7.875,6.479-14,6.812-15l152.709,12.729l2.417-310.499c0,0-4.204-1.806-4.188-1.792c7,6.25-13.942,33.414-11.645,41.458
    c1.333,4.667,7.333,8.167,10.166,21.5c1.496,7.041,4.167,25.5-4,41.667c-4.171,8.257-16.084,23-16.084,23s4.778,1.543,5.584,5.167
    c0.5,2.25-4.834,8.333-4.834,8.333l-79.333,98.501c0,0-10.22,2.354-25.417,16.249c-17.5,16-25.75,34.75-25.75,34.75
    s3.686,8.531-5.312,22.438c-4.812,7.438-16.991,7.601-23.875,8.312c-6.042,0.625-22.271-1.916-22.271-1.916L2227,1107.5
    c0,0,5.166,9.334,0.334,12.834s-11.333-1.667-11.333-1.667l-16.5,3l-0.001,15.083l40.501,5.584c0,0,76.316,12.779,98.667,21.333
    c27,10.333,30.064,31.589,17.666,35.333c-67.334,20.333-199.666-7.666-199.666-7.666s-134.334-21-126.334-51
    c3.957-14.838,35.406-13.949,47.334-14.334c23.25-0.75,76.379,4.766,96.395,6.875c1.37,0.145-16.312-1.438-27.812-1.625
    c-13.999-0.229-15.947,6.189-13.75,9.5c7.896,11.896,52.854,16.458,78.25,17.75c20.132,1.024,40.794-2.899,34.416-9.584
    c-8.666-9.083-45.666-11.854-45.666-11.854s0.792,7.271-12.625,5.438s-12.25-6.875-12.25-6.875L2174.668,1117.334z"/>
</g>
<g id="Layer_3">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1663.875,1003.625l-63.5-5.375l-0.125-234V747.5l7,5l-11.125-8
    L1588.5,760l2.053-12.854l-6.803,3.979l6.875-11.625l9.875-3l-0.25-212.75l149.751-27.083l-0.333,202l8.332,1.583l0.75,17.5l15-11
    l-8.5,12.25l7.5-2.75l9.25-7.5l-2,6l6.25-3l-7.44,8.833l12.69-1.083l-6,2.25l12.5,8.75l-13.333-1.833l-0.166,8l-9-6.5l-3.001,7.333
    l3,10.75l14.465,9.392l6.16,8.358l-9.75-6.5l5.25,7.75l-13.125-8.125l-0.25,9.25l-4.125-7.875l-5.705,5.899l0.08-5.399l-12.5,1.75
    l2.75,5.75l-9.75-4.875l-5.625-8.875l-6.25,8.375l7.75,10.25L1727.625,755l-9.459,121.334l2.663,0.521l5.671-8.688l-2.729,9.265
    l2.896,0.568l-8.756,1.667l-0.235,4.827l6.825-0.827l-5.5,2.667l2.5,3.333l-4.004-1.5l-1.371,28.083l6.25,1.375l-6.625,1.25
    L1713.5,994l0.334-4.583l5.167,0.25l6.624-98.292l-7.5,8.625l8.326-14.246l3.674-40.129l-8.375-3.125l8.589,1.137l-9.464-9.762
    l9,6.875l-3-9.875l3.902,8l1.848-20.125l-7.625-0.125V814l0.667-11.333l4.208-2.792l0.125-3.5h3.875l0.874-26.252l1.626,0.002
    l-0.625,26.625l10.625-6.875l-2.5-13l5.791-0.042l-0.166-12.167l3.833,10.833l6.417-0.125l9.5,7l-5.25-9.25l9.751,6.792
    l17.583,6.833l-13.083-1.5l10.833,7l-11.833-3.583l5.417,8.333l-9.75-7.167l-4.75,6.25l1.082-8.167l-9.916,8.75l8.5,1l-4.916,2.083
    l9.75,3l-3,3.083l2.25,5.333l-11.417-6.75l5.333,12.833l-6.333-8.333l0.5,9.583l-6.917-5.333l1.25,6.5l-4.75-3.583l-0.083,20.5
    v-20.667l-6.168,2.417l-0.5,8.5l-2.966-8.744L1739,826.5l-5.333-5.833l-5.5,67.334l5.5-2.334l4-4.5l10.489,1.286l-8.323,3.047
    l4.834,2.333l4.708-2.333v-6.984v6.984l8.958-6.5l-10.552-1.156l9.094-12.469l-12.542,10.458l7.668-19.166l-15.126,1.208l5.625-5
    l-5.5-2.25l-3.875,0.625l4.5-2.625l8.542,3.042c0,0-8.008-11.114-4-13.167s9.833-1.667,9.833-1.667l-5.833,6.333l12-3.333l-7,6.167
    l12.666-0.667l-8.166,4.833c5.666,3.667,22.166,2.5,22.166,2.5l-11.333,2.5l14.833,6.167l-11.333-1l6.167,13.5l-7-6.5l2.166,5.834
    l-6.833-5.334l10.167,13.5l-9.334-8.333l8,13.5l-5.166-2.167L1778,892l-15.333-2.166L1767,896.5l-7.667-3.5l-3.333,4l-1.833-7
    l-5.167,4.271l-0.021,44.812l0.021-44.709l-2.5,5.625l-6.834-9l0.334,10l-6.167-2.666L1732,907.5l-0.834-4.833l-4.666,2.458
    l-2.5,37.708l11.375-3.958l-3.208,3.792l7.958-2.167l1.5,2.25l3.541,1.25l1.135-12.157l4.199,12.991l3.751,1.499l5,6.5l-9-3.833
    l5.874,7l-7.75-3.5l3.875,8.875l-3.292-4.208v53.521l-0.005-53.532l-7.286-9.156l-1.666,11.667l-1.334-14.334l-7.5-0.166
    l-7.042,2.583l-2.062,42.125c0,0,7.688,0.625,12.605,4.292c1.866,1.392-6.137-4.104-12.605-4.292
    c-0.397-0.012-0.125,4.625-0.125,4.625s-3.004,0.019-3.347-0.013c-0.114-0.011,0.347-4.8,0.347-4.8
    c-3.59-0.325-5.187-0.437-5.187-0.437l-0.25,4.833l-12.167-0.25l-0.083-5.417l-1.834-0.083c0,0,0.24,5.42,0.167,5.417
    c-1.8-0.068-4.517-0.033-6.178-0.063c-0.136-0.003-0.209-5.561-0.344-5.562c-1.062-0.018-1.721,0.065-2.729,0.062
    c-0.168,0,0.458,5.583,0.292,5.583c-0.551-0.001-2.238,0.101-2.771,0.104c-0.084,0-0.354-5.626-0.438-5.625
    c-2.151,0.02-3.761,0.029-5.617,0.113c-0.312,0.014,1.255,5.579,0.951,5.595c-0.268,0.014-2.906,0.318-3.167,0.334
    c-0.484,0.028-0.459-5.782-0.921-5.75c-24.729,1.712-18.413,9.296,11.338,9.625c9.458,0.104,26.333,0.166,31.833-0.167
    c5.168-0.312,10.834-1.333,10.834-1.333c1.077-0.695,2.145-1.354,2.291-1.996c0.029-0.129,0.146,0.218,0.208,0.329
    c0.969,1.723-2.917,14.281-2.917,14.281l16.688,1.438l-16.75-1.375l-6.875,26.312c0,0,94.268,9.577,94.354,9.511
    c4.564-3.444,9.483-7.321,12-9.499c8.295-7.181,34.399-26.08,35.166-43.5c0.667-15.167-27.357-21.447-37.333-22.167
    c-3.107-0.224-7.98,0.249-11.688,0.312c-0.364,0.006-0.062,46.188-0.062,46.188l33,2.75l-33.125-2.625l0.042-46.292
    c-13.371,0.58-34.013,1.384-38.666-0.5c-6.588-2.667-7.663-16.435,0-21.333c10.166-6.499,39.04-7.5,39.04-7.5l0.71-456l196.166-37
    l-196.167,37l-0.749,455.917c19.328-1.062,41.664-0.47,55.5,2.416c12.44,2.595,32.572,17.729,33.666,36.168
    c1.167,19.666-18.459,42.999-18.459,42.999l123.418,10.333c0,0,2.875-584.833,2.875-584.833l-2.875,584.874l-123.251-10.374
    c0,0-2.98,3.66-10.709,10.667c-4.045,3.667-20.084,15.925-20.084,15.925l168.169,16.825l-168.083-16.834l-33.001,22.751v28.333
    c0,0,64.774,6.669,62.458,22.208c-1.124,7.542-13,10.75-39,11.75c-8.776,0.338-28.067-0.417-41.375-2.125
    c-18.5-2.375-51.251-9-55.417-18.166c-6.345-13.96,56.584-14.501,56.584-14.501s-15.117-0.142-19.917,2.334
    c-5.669,2.924-1.946,8.546,24.166,9.999c9.001,0.501,24.443,0.823,30.001-0.332c10.064-2.091,7.967-6.797-0.751-8.583
    c-2.399-0.491-16.499-2.418-16.499-2.418s3.749,5.834-9.834,4.751c-9.755-0.777-6.75-5.667-6.75-5.667v-17.249
    c0,0-8.042,6.761-11.833,5c-9.333-4.334-12.5-11.834-12.167-13.5c0.911-4.559,3.244-4.562,14.578-13.467
    c2.638-2.073,20.257-15.034,20.257-15.034l-94.334-9.5c0,0-3.822,14.553-4.928,15.739s-6.238,2.594-23.405,1.761
    s-20.968-2.468-22-4.333s-4.751-18.584-4.751-18.584l-94.125-9.625v-20l-9.542,3.625l0.167-483.917l-2.844-1.771l0.01-20.896
    l466.834-95.917l-466.834,95.917l-0.01,20.833l2.844,1.833l-0.25,483.916l9.5-3.624v20l94.167,9.542c0,0-5.786-27.44-8.001-32
    c-4.053-8.346,12.488-9.512,16.375-9.667l1.084,6.125l-16.124-86.292c0,0-8.453-2.272-13-2.5
    c-6.667-0.334,13.666-0.166,13.666-0.166v-6.499c-7.166-0.335-14,4.665-14,4.665s4.334-6.833,8.667-7
    c-6.968-0.793-5.834-4.333-11.334-3.583l7.125-3.25l-5.875-0.375l-24.125,9.25l15-8l-15.875,2.625l16.5-6.375l-10.25-4.25
    l13.625,0.5l-5-10.625l6.75,8l6.75-0.5l-4.25,3.125l9.125,5.25l-1-8.625l5.75,5.375l-2.5-23.125l-9,9.25l5.25-8.25L1642.75,875
    l11.25-12.75l-12.75,5.25l9.5-8.5l-11.75,3.75l5.75-6h-9.5l6.25-3.75l-3.25-4.75l12.5,5l-8-8.25l4.5-7.5l-10,4.5l2-11l-11,7.25
    l-6.25,10l1.5-7.75l-5.75,3l6.38-6.025l8.37-5.975h-7.75l7.5-5.25l-8.25-2.75l17.75-0.5l5.5,2.5l6.25-4.75l-6.25-50.5l-5.25-5
    l-3.25,5.5l0.5-6l-6,6.25l2.5-8.75l-11,6.25l-1-3.75l-5.5,5l2-7.5l-8.25-0.75l11.25-7.25l-6.75-1.5l-3,4.5l-1-4.75l-5.5,6.25
    l0.501-10.417L1602,737.625l8.651,6.783L1605.168,731l9.582,6.75l8.5,4l3-1l-5.5-6l5,1l6-3.75l-2.25-1.5l-6.5-2l10.75-2l10.5,4.75
    l6.5,0.25l-3.043-2.961l4.293-3.289h-8.25l2.5-4.25l-7.75,4.5l0.75-10.75l-10.75,5.5c2-9.5,15.25-7.75,15.25-7.75l-5-3.5
    l-14.25,5.75l7.5-7.75l-0.25-3.75l5.25-2.5l13.5,1.75l0.5-4.5l3.75,2.5l0.5-6l-7.625-0.625L1645.75,692l3.5-3l8.951,3.065L1650,681
    l-15.5-3l6-3.5l-3.75-4.5l11.5,6.25L1659.5,690l15.898-14.366l-7.898-5.384l8.25-3.5l-23.5-1.5l16-3.75l-7-10l12.5,11.25
    l-6.25-14.25l7-8.25l2,16.25l7.25-1.5l10.75-1.5l1.25-7.75l-6.75-6l7.5,2l-2.25-8.25l4,5l4.25-10.25l-1.5,12l9.25-2l-11.75,9
    l-3.25,9.5l6.75-2l-5,6l-2.25,21.5l-7.25-4l-3.5,2.25l-4.5,0.75l-2.75,7.25l-5-2l1,11.75l-7.75,8.5l9.367,8.632l-8.534,6.952
    l-0.667,4.167l-2.666-1.667l-9.834,7.833l9.62,4.143l-9.953,2.19L1648,754.667l4.833,0.667l4.333,8.333l-6.166,3.167l-0.25,4.917
    l16.5,139l14.584,77.625l5.458-0.125l0.541,5.625l-6.615-73.75l-9.593-2.5l8.375-0.5l-0.015-1.75l-10.86-2.625l4.375-1.5
    l-3.375-11.25l7.107,10.315l2.704-0.812l-0.312-6.879l-0.958-12.792l-4.667,2.334l4.333-5.334l-0.319-4.172l-9.347-9.661
    l9.166,4.167l-1.727-20.178L1666.667,842l8.964,8.18l-0.457-8.182L1664,831.167l10-5.333l-7.167-2.667l6-8.167l-0.667-32
    l-7.166,2.167l6.51-8.678l-19.844-4.822l10-4.5L1653.5,753l12,12.167l4.666-4.167l-9.5-4.833l7.167-0.167l9.504-30.952
    l-3.087,53.702l16.042,209.438h2.771l0.312,5.562l-7.727-144.416L1682,845l1.935-5.802l-0.745-9.517l-4.522-13.014l2.901-7.685
    l-2.312-60.309l0.077-29.339l14.333-4.333l-4.666,6h-4.334l4,5l-7.333,8l13-5.667L1687,740l5.666,5.333l-8,14.333l5.584,5.083
    l-5.583,11.917l14.771,211.708l1.854,0.125l0.042,5.292l-1.247-69.625l-2.754-3L1697,907l2.752-2.495l-4.086-3.505l3.334-1.666
    l-1.635-80.335l-7.199-2.333l6-1.333l-6.833-7.167l7.334-3.167l-0.579-38.337l-6.075-4.996l5.737-4.417l-5.901-6.429l5.921-5.312
    l-0.783-46.259l-9.736-8l1.75-12l7.75,5.75l7.25-11.25l-0.75-14.5l4.104-1.23l-1.4,9.468l5.547-5.238l-1.25,3.5l11.5-3l-9,6.75
    l9.5,0.25l-16,3l2.25,5.5l2.75-5l1.25,4.5l4.75-0.75l-2.75,4.5l5,4.5l-9,5.75L1703,702l-7.75-3.5l0.5,15.5l7.5-7.25l3.5,2.5
    l4-16.25l6,2.5l15.25-12l-2.194,5.57L1741,704.25l-11.5,3.25l5.129-6.961l-7.596-4.427l-2.177,5.531L1719,699l3.75,6.25l-12-2.75
    l-1.5,6.5l-11,10.5l6,274.5l-1-274.5l5.953-6.99l0.13,281.49L1719,721l-5-5.5l10.25,2.5l-3.25,3.25l11.25-8.25l-2.25,10l-4.5,25.75
    l-5.5,105.5l7.5-96.5l5.042,9.509l-1.041-12.092l9.5-12.333l-1.333-9.833l-3.918-5.75l1.25-6.75l9.5,9.75l3-3v-27.5"/>
</g>
<g id="Layer_5">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M972.5,1085.375c0,0,0.833-10.042-12.833-16.042
    s-44.667-12.331-64.333-11.999c-58.415,0.985-41.976,6.557-413.5,72.333c0,0-53.583-139.292-110.083-174.042
    c0,0,52.25,27.125,110.167,174.042L341,1151.334c0,0-139.001,18.999-163,14.666S31,1020.001,31,1020.001s-29-73.178,4.833-96.834
    c10.874-7.603,42.341-12.021,71.5-14.833c30.284-2.92,58.083-4.084,58.083-4.084L351,943.334l20.667,12c0,0-3.667-17.666-1.333-21
    c1.102-1.575,12-1.334,24,4.333c0,0,5.368-1.742,9.417-1.917c8.301-0.358,18.186,1.254,20.953,1.75
    c0.482,0.086,168.234,0.312,168.234,0.312l-168.25-0.312c0,0-13.088-43.018-2.521-37c0,0,68.5,11.502,101.833,11.168
    c9.48-0.096,11.619-4.089,16.667-5.334c12.701-3.132,15.006-8.062,20.667-5.666c8.667,3.667,22.111,25.482,28.333,35.666
    c3.667,6.001,51-7.666,58-1.666c10.68,9.154,20.333,41.333,30.667,71.666c10.822,31.769,9.5,38.832,12.667,44.667
    s13.333,36.749,13.333,36.749s-9.792-29.792-13.292-36.667L1175.5,979.5L1046,998.75l5.5-21.5l-10.75-53.75L1029,882
    c0,0,15.067,0.931,26,2.25c6.316,0.763,9.712,2.641,12,2c11.558-3.236,30.25-1.25,30.25-1.25s16.846-4.851,32.896-6.334
    c1.096-0.102,2.208-0.225,3.292-0.291c1.987-0.122,4.083-0.292,6.042-0.396c0,0,8.6-6.9,10.146-5.354
    c3,3,0.465,27.499,2.625,33.875c2.625,7.75,6.58,13.471,6.25,14.875c-3,12.75,4.125,22.875,7.875,36.875
    c2.056,7.676,1.5,13.5,1.5,13.5l2.75,1.75c7.375,3.25,3.753,6.785,5,6.125c6.375-3.375,65-7.875,65-7.875s10.173-1.06,21.375-0.625
    c11.777,0.458,24.691,2.521,28.125,7.25c6.625,9.125,5.75,55.125,5.75,55.125l-323.708,78.167L972,1200l174.844-54.688
    l-105.531-22.062l0.021-7.895l248.729,52.52l0.062,7.375l-27.812-5.812l0.021,42.562l77.542,17.625l-0.031-74.391l0.031,74.453
    l79.458-37.021l0.085-69.499l85.582-34.501l-214.875,86.583l-0.062-7.375l297.25-118.203l-210.312-22l-335.667,87.661l-0.021,7.917
    l248.797,51.984l-119.797-25.016L972,1215.25l0.167-123.417c4.167-19.833-6.167-16.832-50.167-7.499
    c-31.853,6.757-95.833,17.768-141.667,26.667C643,1137.667,250.597,1211.562,142.007,1230.066
    c-0.989,0.169-35.353,15.854-33.674,41.936c16,248.667,23.333,441.998,23.333,441.998H91l-33.999-94.666l-3.167-38.583L0,1416.5
    L97.334,1714H369.75l0-25.999l492.583-228.168l0.042,34.854l-26.25-22.438l26.188,22.438l107.521-52.854v-32l4.667-2.084
    L972,1214.75l2.5,192.917l-0.188-13.729L1603,1684l368-512l-466-83.333l82.334-33.667l-0.006-5.328L1377,1027.667l-48.938,12.771
    L1326.938,945c0,0-2.438-7.5-7.938-8c-4.681-0.425-86.208-5.583-86.208-5.583l1.583,5.458l31,2.875c0,0,14.03,0.525,23.552,3.89
    c0.625,0.222,32.158-5.636,32.74-5.39c0.584,0.247-32.945,5.144-32.417,5.417c1.537,0.797,4.667,0.666,6.875,4.208
    c0.609,0.978,0.377,13.63,0.375,26.875l-0.875,74.25c0,0-0.187-28.5-0.125-37.25c0.125-17.75-4.25-32.25-4.25-32.25
    c-10.687-12.637-51.336-7.702-51.417-7.708c-0.578-0.041,0.25-13.093-1.5-17.292c-4.167-10-3.958-17.75-3.958-17.75l-1.594-5.312
    c0,0-3.712-6.975-3.948-8.271c-1.958-10.792-1.583-28.667-1.583-28.667s-1.708-11.458-1.625-11.25
    c1.455,3.624,6.542-10.917-0.292-17.583c-5.817-5.675-74.833,6.333-74.833,6.333s-41.938,2.188-44.5,2.938
    c-3.837,1.123-3.25,8.563-3.25,8.563s15.343-3.569,22.646-4.355c6-0.646,14.021-1.145,14.021-1.145s5.729-4.438,7.854-5.146
    c1.628-0.542,2.146-0.854,2.146-0.854l-750.25,23.332l20,21.084l-20-21.084L293,899.168l-127.667,5.083l66.083,13.75
    c0,0,1.37-6.826,9.833-10.25c3.986-1.613,6.197,0.949,9.583-0.334c12.75-4.833,32.917,5.917,46.292,5.583
    s49.805-7.308,57.042-8.333s18.167-6.501,18.167-6.501l26-2.833l-178.917,6.751c0,0-155.77,3.77-181.917,19.916
    c-36.167,22.334-7,97.5-7,97.5L0,1024V168.688l148.5,32.453L205.25,71.75L148.5,201.125L0,168.703V0h236l-30.5,71l1186,452.833
    L1391.25,689l-8.5,1.125l4.251,97.375l142.166-6.667l-142.166,6.662l0.749,16.005l3.5-0.125v105.25h-3.875l0.125,4.875l3.75,0.146
    v81.229l0.021-81.25l46.563,1.001l0.041,32.749c0,0-9.749,0.542-13.25-9.875c-2.007-5.97-3.542-22.958-3.542-22.958l-2.083,0.083
    c0,0,1.29,21.788,6.25,28.75c4.75,6.667,12.584,6.126,12.584,6.126l0.083,8.167l3.5,0.083l0.083-42.991l54.166,1.573l-0.083,34.084
    c0,0-8.79-0.166-12.249-7.666s-3.25-26.25-3.25-26.25L1478,916.5c0,0-1.499,27.001,8.251,32.667
    c5.672,3.296,9.249,3.458,9.249,3.458v10.125h3.5V916.5h20.875l-0.625-6.5l-17.5-5.5l-3.25-9.75l-0.5-6.25l-44.75,1l1.25,11h-10.25
    l2.75-5l-37.25-0.75l2.625,5.625l-11.875-0.125l-1.375,8.5l-7.875-0.125l0.125-105.375l138.458-5.833l-3.75-122.75l3.833,122.667
    l2.334-0.25l-2.125-119.208l-4-3.375l-134.875,14.516l0.25-165.349l160.251-34.5l12.082,8.333l-0.167-0.083l-11.832-8.25
    l0.124,520.084l14.625-5.001l-14.709,5.084l-160.623-14.333l-63.563,13.187l0.266,19.203l63.298-15.224l160.416,17.167L1576,1020"
    />
</g>
</svg>
    <%= javascript_include_tag 'svganimations.js' %>
    <%= javascript_include_tag 'classie.js' %>
</div>
  
  <div class="common-wrapper" data-page="penthouses">
    <div class="shadow-text">
      <div class="content_text">
        Двухуровневые апартаменты в клубном доме
    <span class="petrovsky">Petrovsky Apart House</span> –<br />
    пожалуй, лучший выбор для состоятельных жителей мегаполиса.<br />
    У Вас есть великолепная возможность стать владельцем одного<br />
    из шести пентхаусов в <span class="petrovsky">Petrovsky Apart House</span>.<br />
          <div class="key-link-wrapper">
            <span class="penthouse-icon"></span>
            <%= link_to 'Скачать презентацию', pages_send_penthouses_pdf_path, class: "penthouse-link" %>
          </div>
          <div class="key-link-wrapper">
            <span class="penthouse-icon"></span>
            <%= link_to 'Смотреть планировки', slug_path(:floor_plans), class: "penthouse-link" %>
          </div>
      </div>
    </div>
    <br />
     <div class="penthouse-block default-block block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div id="tab">
            <div class="tab-list">
              <div class="tab-item current" id="tab-1">
                <ul class="key">
                  <li>Ни одна внешняя стена не соприкасается с помещениями</li>
                  <li class="extension">других собственников, количество соседей – минимально</li>
                  <li>Имеется выход на две террасы: собственную и общую</li>
                  <li>В апартаментах представлено два уровня,</li>
                  <li class="extension">один из которых – на крыше здания</li>
                  <li>Свободная планировка позволяет воплотить дизайн вашей мечты</li>
    <!--
                  <li>Огромные окна заполняют пространство пентхауса светом</li>
                  <li>Ни в одном доме района не представлено подобных предложений</li>
    -->
                </ul>
              </div>            
            </div>
          </div>
        </div>
      </div>
  </div>
