<div class="common-wrapper">

  <div class="shadow-text">
    Двухуровневые апартаменты в клубном доме
    <span class="petrovsky">Petrovsky Apart House</span> –<br />
    пожалуй, лучший выбор для состоятельных жителей мегаполиса.<br />
    У вас есть великолепная возможность стать владельцем одного<br />
    из шести пентхаусов в <span class="petrovsky">Petrovsky Apart House</span>.<br />

    <div class="key-link-wrapper">
      <span class="penthouse-icon"></span>
      <%= link_to 'Скачать презентацию', pages_send_penthouses_pdf_path, class: "penthouse-link" %>
    </div>
    <div class="key-link-wrapper">
      <span class="penthouse-icon"></span>
      <%= link_to 'Смотреть планировки', slug_path(:floor_plans), class: "penthouse-link" %>
    </div>
  </div>

  Достоинства предложения очевидны:

  <div class="block-wrapper">
    <div class="block-shadow"></div>
    <div class="penthouses-block-info">
      <div id="tab">
        <div class="tab-list">
          <div class="tab-item current" id="tab-1">
            <ul class="key">
              <li>Ни одна внешняя стена не соприкасается с помещениями других собственников, количество соседей – минимально</li>
              <li>Имеется выход на две террасы: собственную и общую</li>
              <li>В апартаментах представлено два уровня, один из которых – на крыше здания</li>
              <li>Свободная планировка позволяет воплотить дизайн вашей мечты</li>
<!--
              <li>Огромные окна заполняют пространство пентхауса светом</li>
              <li>Ни в одном доме района не представлено подобных предложений</li>
-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
