<%= javascript_include_tag  "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" %>
<script type="text/javascript">
  $(window).resize(resize_1920);
  $(document).ready(function () {
    $('#main').show()
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg class="svg bg-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920" height="1080" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
<g id="Layer_2">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M627,1080l18.667-91.333l-107.167,13.5l65.167-178.833l82.167-8
    L694.25,776l-75.75,6.5l34.083-93.667l61.083-4.167l4.5-22.665L660.75,666L682,607.666l48.667-2.75l3-16.083l-45.5,2.334
    l12.583-35.417l41.25-1.667l2.667-13.458L706,541.75l8.917-24.25l34.75-0.833l2-10.333l-32.917,0.5l7.083-19.583L756,487
    l1.708-6.708l-29.271-0.042L734,465l26.75,0.083l1.292-6.458h-25.729L741,446l23.792,0.125l1.167-4.542l-23.396,0.042l2.086-6.244
    l22.473-0.042l1.566-7.089l-21.438,0.188l2.125-5.75l20.75,0.062l1.303-6.385l-19.803,0.01l2.438-6.688l19.021-0.354l0.708-3.208
    l-18.417-0.062l1.125-3.188l18.121-0.349l0.671-3.877L758,398.625l1.586-4.19l16.87-0.079l1.211-6.022"/>
</g>
<g id="Layer_3">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M168.5,1080l26.833-35.5l-125.5,15L264,854.25l88.375-8.25l35-43.625
    l-85.625,7.5l101.083-103.041L466,702.5l19.167-24.583l-59.667,3.916l42-44.833l54.167-4.333l28.917-33.917l-49.833,2.667
    L537.333,563l-22,23.333l43.333-0.999l29.82-36.668l-39.398,0.146L575.5,522H610l6.333-7.666L583,514.667l14.75-16.417
    l31.583,0.083l5.667-6.999l-29.667-0.168L615,480.334l28.576,0.04l3.538-4.708l-26.778-0.042l5.796-6.244l26.091-0.042l5.073-6.688
    l-25.612-0.287l5.155-5.63l24.66-0.235l11.25-13H649.5l7.167-6.833l21.583-0.167l3.5-4.75l-19.917,0.083l4.5-4.167L685,427.5
    l8-9.25l-19.667,0.083L677.5,414l18.833,0.167l7.833-10"/>
</g>
<g id="Layer_4">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M69.667,1060l245.833-30.167l51-77.458l100-11.208L496.25,882
    L406,891.333l35.833-53.665l81.833-7.167L578.875,720.5l64-4.75l9.458-26.916l-60.5,4.5L605.5,667l29.75-56.667l46.917-2.75
    l5.917-16.5L642.75,593.5l19.083-36.332l39.083-1.251l5.083-14.25l-37.5,0.417l12.333-23.583l33.917-0.813l3.875-10.75
    l-31.292,0.229l10.417-20.083l28,0.354l2.812-7.354l-27.896,0.083L708.833,465L734,465l2.312-6.5l-24.812,0l6-12.417l23.5-0.25
    l1.562-4.375L720,441.084l3-6l21.562,0.416l2.75-7.125l-20.646-0.208l2.583-6.083l20.125,0.291l2.25-6.062l-19.792,0.188l3.333-6
    l18.646-0.313l1.625-4.312L738,406.334l2.25-3.5l16.312-0.334l1.438-3.812l-16.5,0.146l2-3.75l15.938-0.334l0.75-2.188"/>
</g>
<g id="Layer_5">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1124.875,774.625l-42.125-63.375l-59,4.5l31.875,65.25l132.5-12.5
    l32.542,40.501L1002,830.5l-15-43l-146.625,13.375l-2.125-37.625l68-6l-6.75-31.5l124.125-10.125L1076,823.001l75.333-7.335
    l108.5,170.001L1351.5,973l82.833,105.333"/>
</g>
<g id="Layer_6">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1416,1055.5l-205.333,24.5L1102.5,870.167l-83.125,9.458l-45-128.25
    l-68,5.875L888,672l-57.333,4.001L826,616.333l46-2.666l-2.333-16.834L824,599.5l-3-38.5l40.75-0.75l-2-14.25L820,546.75l-1.5-25.5
    L853,521l-1.667-9.333l-33.583,0.583L817,492l30-0.25l-2-9.75h-29.5l-0.5-16h26l-1.5-10.25L814,456l-0.667-10.667l23.167-0.083
    l-0.833-6.917H813v-4.667l21.167-0.167l-0.667-5.333L811.667,428l-0.333-7l20.5,0.333L831.5,417l-20.75-0.25v-3.25l19.25-0.333
    l-0.333-4.667l-19.167,0.167v-4l17.5-0.333l-0.5-5l-18.167,0.333l0.167-3.833l16.5-0.5l-0.333-4.667L808.833,391l0.167-5
    l15.667-0.833l-0.5-6"/>
</g>
<g id="Layer_7">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1189,769.666L1255.875,853l70.875-8.125l-72.875-82.375l-65.625,6
    l32.25,40.5l-69.167,6.666l65.667,103l165.166-20.5L1437,961.333L1168.667,998"/>
</g>
<g id="Layer_8">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1402.75,836.25l47.5,53.5L1302.333,908L1256,853l147.25-16.5
    l-76.5,8.25L1224.625,730l56.375-5.5l77.501,70.167l-70.167,7L1224.5,730l-122.166,10.333"/>
</g>
<g id="Layer_10">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M1132.667,928.833L1042.5,940l26.5,71.833l-103.166,14.334L978,1080
    h115.667l-51-140.334l-94,11.834l-12.5-62.833l244-27.167"/>
</g>
<g id="Layer_11">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M966,1026.333l-108.667,14.833l-4.5-77.833l95.833-11.833
    L917.25,793.875L766.25,808L763,854.625l83.25-8.375l10.917,195.083l-107,14.667l-1.542,24L759.5,908.5l89.833-9.834L846.25,846.5
    l79.875-7.875"/>
</g>
<g id="Layer_12">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M429.5,1015.5l216.167-26.667l-17.167,83.834L577.833,1080H397
    l99.25-198.25l89.25-8.5L564.667,930l98.167-10.834l23-103.999L523.5,830.501l21-41.751l73.75-6.25l13.083-35.167l71-5.833
    l15.833-79.5l-9.792,48.625l126-9.625l6.125,100.333l-4.25-70.666l-65.292,5.374l-2.208,33.584l-150.25,13l12.75-35.125
    l139.833-11.334l-8.208,118.459l-87.875,9.5l88.125-9.5l83.125-8.375l3.083,52.25L564.5,929.833l-26,72.167l216.833-26.834"/>
</g>
<g id="Layer_13">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M685.5,817"/>
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M893.375,696.5l-120.75,9.375l4.25-68.125l-53.375,3.5l10.167-52.416
    l46.667-2.667L781,574.834l-43.5,1.416l7.167-35.625L782,540l0.5-9.5l-35,0.5l4.167-24.667l33.083,0.167l-1,14.75h34.75l-0.75-9
    l-33.5,0.75l1-14.5l32.083-0.5l-0.083-6.25L786,492.667l1-19.917h-27.75l1.5-7.667l27.5,0.167l0.917-12.083L763.5,453.5
    l1.292-7.375L789.5,446l0.5-8l-22.5-0.5l0.5-4.5l22.333-0.167L791,424.5l-20.883-1.461l1.311-6.674l20.072-0.198l0.167-3.333
    L772,412.5l1.083-3.167h18.583l0.333-3.5l-18.167-0.167l0.788-3.141L792.167,402l0.333-3.5l-17.208,0.149l1.164-4.293l15.878-0.689
    l0.833-8.833"/>
</g>
<g id="Layer_28">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M283,1080l83.375-127.625l-218,24.25L260.25,964l127.125-161.625
    L223.5,816.501l-46.125,45.624l-99.125,9.25l185.875-17.25l-54,57.25l-208,20.75L77.5,872l108-88.5l79-6.417l-41.167,39.751
    L264.5,777l39.5-35.583L374.25,736l-34.417,35.083L419.5,764.5l65.667-86.583l62.25-4.251L533.5,697.5l58.333-4.167l-58.333,4.333
    L514.167,725l64.667-4.5l-133.75,10l-25.75,34l143.333-11.333l-38.833,77.334L442,837.668l-36,53.666l-96.5,9.833l77.667-98.833
    L468,795.333l22.5-36.583L442,838.001"/>
</g>
</svg>
    <%= javascript_include_tag 'svganimations.js' %>
    <%= javascript_include_tag 'classie.js' %>
</div>
    <div class="common-wrapper">

      <div class="shadow-text"><span class="petrovsky">Petrovsky Apart House</span> расположен в динамично развивающейся части<br />
      САО столицы с развитой инфраструктурой и высокой транспортной доступностью,<br />
      в 3 минутах ходьбы от метро Войковская и непосредственной близости к<br />
      основным транспортным магистралям Москвы.
        <div class="map-btn-wrap">
          <span class="place-icon"></span>
          <a href="#" class="content-link" id="maps-link" data-sh="n">Посмотреть на карте</a>
        </div>
      </div>
      <div class="default-block block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div id="tab">
            <div class="tab-list">
              <div class="tab-item current" id="tab-1">
                <ul class="location">
                  <li>м. Войковская – 2 минуты пешком</li>
                  <li>Ленинградское шоссе  – 300 м</li>
                  <li>Волоколамское шоссе  – 2,2 км</li>
                  <li>Торговый центр Метрополис</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul class="location">
                  <li class="lineheight-loc" >Природно-исторический парк "Покровское - Стрешнево"</li>
                  <li>"Парк Воровского"</li>
                  <li>ТТК – 6 км</li>
                  <li>МКАД – 7,6 км</li>
                </ul>
              </div>
               
            </div>
            <div class="tab-control">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
     ymaps.ready(init);
     
     function init () {
      var myMap = new ymaps.Map("map", {
          center: [55.823156,37.500881],
          zoom: 15
        }),
        myPlacemark = new ymaps.Placemark([55.823156,37.500881], {
          // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
          //balloonContentHeader: "Спортивное питание в Калининграде",
          //balloonContentBody: "г. Калининград, пр-т Калинина, 3 ор-р магазин Трикотаж<br />тел: (4012) 64-64-51",
          // balloonContentFooter: "Подвал",
          // hintContent: "Хинт метки"
        });
        
        myMap.controls.add("zoomControl");
     
      myMap.geoObjects.add(myPlacemark);
     }
     </script>
