    <div class="common-wrapper">

      <div class="shadow-text"><span class="petrovsky">Petrovsky Apart House</span> расположен в динамично развивающейся части<br />
      САО столицы с развитой инфраструктурой и высокой транспортной доступностью,<br />
      в 3 минутах ходьбы от метро Войковская и непосредственной близости к<br />
      основным транспортным магистралям Москвы.
        <div class="map-btn-wrap">
          <span class="place-icon"></span>
          <a href="#" class="content-link" id="maps-link">Посмотреть на карте</a>
        </div>
      </div>
      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div id="tab">
            <div class="tab-list">
              <div class="tab-item current" id="tab-1">
                <ul class="location">
                  <li>м. Войковская – 2 минуты пешком</li>
                  <li>Ленинградское шоссе  – 300 м</li>
                  <li>Волоколамское шоссе  – 2,2 км</li>
                  <li>Торговый центр Метрополис</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul class="location">
                  <li class="lineheight-loc" >Природно-исторический парк "Покровское - Стрешнево"</li>
                  <li>"Парк Воровского"</li>
                  <li>ТТК – 6 км</li>
                  <li>МКАД – 7,6 км</li>
                </ul>
              </div>
               
            </div>
            <div class="tab-control">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
     ymaps.ready(init);
     
     function init () {
      var myMap = new ymaps.Map("map", {
          center: [55.823156,37.500881],
          zoom: 15
        }),
        myPlacemark = new ymaps.Placemark([55.823156,37.500881], {
          // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
          //balloonContentHeader: "Спортивное питание в Калининграде",
          //balloonContentBody: "г. Калининград, пр-т Калинина, 3 ор-р магазин Трикотаж<br />тел: (4012) 64-64-51",
          // balloonContentFooter: "Подвал",
          // hintContent: "Хинт метки"
        });
        
        myMap.controls.add("zoomControl");
     
      myMap.geoObjects.add(myPlacemark);
     }
     </script>