    <div class="common-wrapper">

      <span class="petrovsky">Petrovsky Apart House</span> расположен в динамично развивающейся части<br />
      САО столицы с развитой инфраструктурой и высокой транспортной доступностью,<br />
      в 3 минутах ходьбы от метро Войковская и непосредственной близости к<br />
      основным транспортным магистралям Москвы.
      <input type="button" value="yuutu" onclick="start_video()" style="opacity: 0;">
      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div id="tab">
            <div class="tab-list">
              <div class="tab-item current" id="tab-1">
                <ul class="location">
                  <li>м. Войковская – 2 минуты пешком</li>
                  <li>Ленинградское шоссе  – 300 м</li>
                  <li>Волоколамское шоссе  – 2,2 км</li>
                  <li>Торговый центр Метрополис</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul class="location">
                  <li class="lineheight-loc" >Природно-исторический парк "Покровское - Стрешнево"</li>
                  <li>"Парк Воровского"</li>
                  <li>ТТК – 6 км</li>
                  <li>МКАД – 7,6 км</li>
                </ul>
              </div>
               
            </div>
            <div class="tab-control">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>