    <div class="common">
      <span class="petrovsky">Petrovsky Apart House</span> расположен в северном административном округе Москвы <br />
(Старопетровский проезд) в 3 минутах ходьбы от метро Войковская и <br />
непосредственной близости к зонам высокой транCпортной активности.  


      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          
          <div id="tab">
            <div class="tab-list">
              <div class="tab-item current" id="tab-1">
                <ul class="location">
                  <li>Природно-исторический парк "Покровское - Стрешнево"</li>
                  <li>"Парк Воровского"</li>
                  <li>Химкинское водохранилище</li>
                  <li>Торговый центр Метрополис</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul class="location">
                  <li>Кинотеатр</li>
                  <li>Школы, университеты, разнопрофильные образовательные учреждения</li>
                  <li>Юридические, консультационные компании</li>
                  <li>Компании сферы бытовых услуг</li>
                </ul>
              </div>
               
            </div>
            <div class="tab-control">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
          
          
        </div>
      </div>

      
    </div>