<script type="text/javascript">
  $(window).resize(resize_2620_right);
  $(document).ready(function () {
    $('#main').show()
  });
</script>
<style type="text/css">
.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
</style>
<div id="main">
<svg class="svg bg-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2620 1200" enable-background="new 0 0 2620 1200" xml:space="preserve">
<g id="Layer_5">
  <rect y="3.5" fill="none" stroke="#201600" stroke-miterlimit="10"  width="2620" height="1196.5"/>
</g>
<g id="Layer_4">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2425.167,226.5c1.667-11.667-196.667-20.667-222.666-22
    s-104.996-2.654-138.334-2.333c-34.667,0.333-132.666,4-159,6.667c-19.703,1.996-52.166,9.5-54.167,11.833s-12.5,9.5,50.167,21.167
    s203.667,11,203.667,11h106.999c0,0,108.751-0.667,157.334-5.333c47.022-4.517,56.001-19.665,56.001-19.665
    s49.332,150.665,61.333,203.333s46,202.667,53.999,257.333c5.681,38.824,10,76.666,6.001,156s-34.001,144.003-44.668,164.669
    c-10.059,19.486-27.999,57.331-55.333,83.331c-29.195,27.771-48.666,50-81.999,72c-24.939,16.46-61.001,35.5-61.001,35.5h-351.001
    c0,0-10.464,11.048-108-72.833c-100-86-135.499-215.167-135.999-315.667c-0.107-21.605,0.214-42.768,2-62
    C1717.699,672,1731,618,1731,618s19.145-81.422,44-170c26.96-96.079,58.333-196.833,73.833-224.667"/>
</g>
<g id="Layer_6">
  <path fill="none" stroke="#201600" stroke-miterlimit="10" d="M2083.501,441.167c0,0,12.164,6.333,65.332,6.333s66.001-7,66.001-7
    l15.666,40c0,0,12.178,35.69,16.5,52.5c4.5,17.5,7,24,8,39.5c0.934,14.47-0.25,31-2.166,41.333
    c-1.46,7.874-7.38,22.397-12.834,31.417c-6.5,10.75-15.25,23.25-25.5,33.917c-11.109,11.562-37,24.833-37,24.833l-14.5,5.5l-0.5,24
    c0,0-0.154,110.354,0.173,119.344s2.494,31.323,2.494,31.323s1.165,11.334,4.499,14.167s16.335,7.166,16.335,7.166l35.499,12.667
    c0,0,14.416,3.917,10.333,8s-16.332,5-16.332,5s-18.876,3.081-66.243,3.081c-54.633,0-66.924-2.915-66.924-2.915
    s-13.167-2-16.5-5.333c-3.355-3.355,9.333-8.167,9.333-8.167l36.666-12.332c0,0,11.709-3.322,16.002-7.002
    c3.498-2.998,4.831-14.665,4.831-14.665s2.553-21.521,3.169-30.668c0.831-12.332-0.001-120-0.001-120l-1-23.667l-12.666-5.666
    c0,0-27.335-16.999-35.334-24.667s-23.302-24.019-28.584-34.416c-5.334-10.499-8.935-23.33-10.417-30.583
    c-2.333-11.417-2.756-26.337-1.999-43.001c0.666-14.666,2.166-21.166,6-38.333c3.035-13.591,16.667-51.999,16.667-51.999
    l14.667-40.334c0,0,26.33-6,65.998-6s65.335,5.833,65.335,5.833"/>
</g>

  </svg>
    <%= javascript_include_tag 'svganimations.js' %>
    <%= javascript_include_tag 'classie.js' %>
</div>
    <div class="common-wrapper">
      <span class="petrovsky">Petrovsky Apart House</span> - пространство, где все подчинено желаниям
владельцев<br />апартаментов. Каждая деталь  дарит удивительное ощущение тепла,
света, заботы и красоты.<br />Дом обслуживает профессиональная консьерж - служба 
с многолетним опытом эксплуатации,<br /> которая готова оказать помощь и поддержку
в организации любого аспекта Вашей жизни. 
      <div class="default-block block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div id="tab">
            <div class="tab-list tab-list-s">
              <div class="tab-item current" id="tab-1">
                <ul class="service">  
                  <li>Комплексная безопасность </li>
                  <li class="lineheight-serv">Диспетчерский контроль инженерно-технических систем</li>
                  <li>Круглосуточная консьерж служба</li>
                  <li>Паркинг на огороженной территории</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul class="service">  
                  <li>Кафе и ресторан с room-сервисом</li>
                  <li>Собственная клиниговая компания</li>
                  <li>Химчистка, салон красоты/SPA</li>
                  <li>Карты привилегий для владельцев апартаментов</li>
                </ul>
              </div>
            </div>
            <div class="tab-control tab-serv">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>