    <div class="common-wrapper">
      <span class="petrovsky">Petrovsky Apart House</span> - пространство, где все подчинено желаниям
владельцев<br />апартаментов. Каждая деталь  дарит удивительное ощущение тепла,
света, заботы и красоты.<br />Дом обслуживает профессиональная консьерж - служба 
с многолетним опытом эксплуатации,<br /> которая готова оказать помощь и поддержку
в организации любого аспекта Вашей жизни. 
      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          <div id="tab">
            <div class="tab-list tab-list-s">
              <div class="tab-item current" id="tab-1">
                <ul class="service">  
                  <li>Комплексная безопасность </li>
                  <li class="lineheight-serv">Диспетчерский контроль инженерно-технических систем</li>
                  <li>Круглосуточная консьерж служба</li>
                  <li>Паркинг на огороженной территории</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul class="service">  
                  <li>Кафе и ресторан с room-сервисом</li>
                  <li>Собственная клиниговая компания</li>
                  <li>Химчистка, салон красоты/SPA</li>
                  <li>Карты привилегий для владельцев апартаментов</li>
                </ul>
              </div>
            </div>
            <div class="tab-control tab-serv">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>