    <div class="common">
      Petrovsky Apart House - пространство, где все подчинено желаниям<br />
владельцев апартаментов. Дом обслуживает профессиональная <br />
консьерж - служба с многолетним опытом эксплуатации. 


      <div class="block-wrapper">
        <div class="block-shadow"></div>
        <div class="block-info">
          
          <div id="tab">
            <div class="tab-list">
              <div class="tab-item current" id="tab-1">
                <ul>
                  <li>Круглосуточный сервис электриков, <br />сантехников и лифтеров</li>
                  <li>Ежедневная уборка территории, вывоз мусора, <br />в зимнее время - уборка и вывоз снега</li>
                  <li>Благоустройство и уход за территорией, <br />ландшафтный дизайн</li>
                  <li>Паркинг на огроженной территории рассчитанный <br />на ___машиномест</li>
                </ul>
              </div>
              <div class="tab-item" id="tab-2">
                <ul>
                  <li>Паркинг на огроженной территории рассчитанный на ___машиномест</li>
                  <li>Круглосуточный сервис электриков, сантехников и лифтеров</li>
                  <li>Ежедневная уборка территории, вывоз мусора, в зимнее время - уборка и вывоз снега</li>
                  <li>Благоустройство и уход за территорией, ландшафтный дизайн</li>
                </ul>
              </div>
            </div>
            <div class="tab-control">
              <ul>
                <li><a class="current" href="" rel="tab-1"></a></li>
                <li><a href="" rel="tab-2"></a></li>
              </ul>
            </div>
          </div>
          
          
        </div>
      </div>

      
    </div>