@font-face {
	font-family: 'PT Sans Normal';
	src: url('/fonts/PT-Sans-normal.eot');
	src: url('/fonts/PT-Sans-normal.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/PT-Sans-normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Bold';
	src: url('/fonts/PT-Sans-bold.eot');
	src: url('/fonts/PT-Sans-bold.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/PT-Sans-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
}
/* NEW CSS */
body { font-family: 'Arial', sans-serif; padding:0; color:#fff; overflow:hidden; }
td, th { font-family: 'PT Sans Normal', sans-serif; color:#fff;}


a { font-family: 'PT Sans Normal', sans-serif; text-decoration:none; color:#fff; }
a:hover { font-family: 'PT Sans Normal', sans-serif; text-decoration:none; color:#fff; }

.clear   { clear:both}
#wrapper { position:relative; display: block;}

a, img, input, button, textarea, select { outline: none; resize:none }
strong, b { font-weight:bold; }
em { font-style:italic}

h1 { font-size:32px; color:#fff; text-align:center;}
h2 { font-size:24px; color:#fff; }
h3 { font-size:20px; color:#fff; }
h4 { font-size:16px; color:#fff; }
h5 { font-size:12px; color:#fff; }

.fl { float:left}
.fr { float:right}

/*
* { 
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	transition: width 0.5s ease;
}
*/

.bg { background:url(/images/bg.jpg) no-repeat center top; top:0; left:0; position:fixed; width:100%; height:100%; background-size: auto 100%;}
.bg.concept { background:url(/images/bg-concept.jpg) no-repeat top right; position:fixed; width:100%; height:100%; background-size: cover;}
.bg.contact { background:url(/images/bg-contacts.jpg) no-repeat center right; position:fixed; width:100%; height:100%; background-size: cover;}
.bg.service { background:url(/images/bg-service.jpg) no-repeat center right; position:fixed; width:100%; height:100%; background-size: cover;}
.bg.place {display: block; background:url(/images/bg-place.jpg) no-repeat center; position:fixed; width:100%; height:100%; background-size: cover;}
.bg.gallery { background:url(/images/bg-gallery.jpg) no-repeat center right; position:fixed; width:100%; height:100%; background-size: cover;}
.bg.penthouse { background:url(/images/bg-penthouses.jpg) no-repeat top right; position:fixed; width:100%; height:100%; background-size: cover;}
#map {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
}

/* HEADER */
#header { background:url(/images/header-shadow.png) repeat-x top; min-height:125px; min-width:1170px; padding: 25px 50px 0 50px; position:relative; z-index:1900; }
#header .logo { float:left; margin-right:40px; }

#header .menu { float:left; padding-top:3px; }
#header .menu li { float:left; width:92px;}
#header .menu li a { font-family: 'PT Sans Bold', sans-serif; display:block; text-align:center; color:#757575; text-transform:uppercase; font-size:14px; }

#header .menu li.icon-4  a { color:#d7970d; }

#header .menu li a span { display:block; width:60px; height:60px; background-position:0 0; background-repeat:no-repeat; margin:0 auto 5px auto; }

#header .menu li.icon-1 span { background-image:url(/images/icon-1.png);}
#header .menu li.icon-2 span { background-image:url(/images/icon-2.png);}
#header .menu li.icon-3 span { background-image:url(/images/icon-3.png);}
#header .menu li.icon-4 span { background-image:url(/images/icon-4.png);}
#header .menu li.icon-5 span { background-image:url(/images/icon-5.png);}
#header .menu li.icon-6 span { background-image:url(/images/icon-6.png);}
#header .menu li.icon-7 span { background-image:url(/images/icon-7.png);}

#header .menu li a:hover span, #header .menu li.current a span { background-position:0 -60px; }
#header .menu li a:hover, #header .menu li.current a { color:#fff; }

#header .phone { font-family: 'PT Sans Bold', sans-serif; font-size:24px; float:left; margin:22px 20px 0 0;}

#header .callback { font-family: 'PT Sans Bold', sans-serif; font-weight:bold; font-size:20px; float:left; margin-top: 15px}
#header .callback a {background: rgba(0, 0, 0, 0.3); display:block; padding:5px 10px; border:2px solid #fff;}
#header .callback a:hover {text-decoration:underline;}

#header .music { float:left; margin:10px 0 0 5px;}
#header .music a { background:url(/images/icon-music.png) no-repeat 0 0; height:49px; width:49px; display:block}
#header .music a:hover,  #header .music a.play_music { background-position:0 -49px}

#header .camera { float:left; margin:10px 0 0 5px;}
#header .camera a { background:url(/images/icon-cam.png) no-repeat 0 0; height:49px; width:49px; display:block}
#header .camera a:hover { background-position:0 -49px}

/* CENTER */
#floor-plans-wrap { 
	font-family: 'PT Sans Normal';
	font-size: 28px;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin-top: -149px;
	font-family: 'PT Sans Normal';
}

#center { 
	font-family: 'PT Sans Normal';
	margin: 0px 50px;
	font-size: 28px;
	position: relative;
	padding-top: 0px;
}

#center .sale { position:absolute; right:50px; top:200px; border:5px solid #cbc4ad; background:rgba(0,0,0,0.2); color:#fffcd9; padding:20px; }

#center .sale-wrapper {font-family: 'PT Sans Normal'; opacity: 0; cursor: pointer; text-align: center; width: 25%; left: 74%; top: 60%; position: fixed;}
#center .sale-wrapper .sale-info { border:10px solid #cbc4ad; background:rgba(0,0,0,0.2); color:#fffcd9; padding:10px; position:relative; z-index:5}
#center .sale-shadow { position:absolute; width:100%; height:100%; z-index:1; background:rgba(0,0,0,0.2); left:8px; top:10px}
#center .sale-info h3 { font-size:64px; color:#fffcd9; border-bottom:4px solid #fffcd9; padding-bottom:2px; line-height: 64px; }
#center .sale-info h3 span { font-family: 'PT Sans Bold', sans-serif; font-weight:bold}
#center .sale-info .info { font-size:24px; padding:5px 0}
#center .sale-info .more { font-family: 'PT Sans Bold', sans-serif; font-size:24px; font-weight:bold; text-decoration: underline}
#center .sale-info .more:hover { text-decoration:none}


#concept-page .common { font-family: 'PT Sans Normal'; padding-top:100px}
.presentation { padding-top: 20px; }
.present-icon { 
	display: block;
	background-image: url(/images/icon-1.png);
	width: 60px;
	height: 60px;
	background-position: 0 -60px;
	background-repeat: no-repeat;
	float: left;
}
.content-link {
	line-height: 60px;
	margin-left: 30px;
}
.bounce { text-shadow: 2px 2px 2px #000;}
.map-btn-wrap { padding-top: 15px; }
.place-icon {
	display: block;
	background-image: url(/images/icon-2.png);
	width: 60px;
	height: 60px;
	background-position: 0 -60px;
	background-repeat: no-repeat;
	float: left;
}

.block-wrapper { position:relative; margin-top:25px; }
.penthouse-block {margin-top: 63px}
#center .block-wrapper .block-info {width: 100%; height: 100%; border:10px solid #cbc4ad; background:rgba(0,0,0,0.2); color:#fffcd9; position:relative; z-index:5}
#center .block-wrapper .penthouses-block-info {width: 750px; height: 321px; border:10px solid #cbc4ad; background:rgba(0,0,0,0.2); color:#fffcd9; padding: 0 60px; position:relative; z-index:5}

.default-block {width: 60%; height: 50%;}
#center .block-shadow {
 position:absolute; width:100%; height:100%; z-index:1; background:rgba(0,0,0,0.2); left:10px; top:10px;
}

#center .callback { font-family: 'PT Sans Bold', sans-serif; font-weight:bold; font-size:20px; float:left;}
#center .callback a { display:block; padding:5px 10px; border:2px solid #fff;}

.concept_content { position: absolute; padding-top: 3%; }

.contact-info { padding: 1% 1%; height: 100%; }
/* FASAD 1*/

.fasad { 
	background:url(/images/build/fasad-1.jpg) no-repeat center left;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	position: fixed;}
.floor { top:0; left:0; position:absolute; width:100%; height:100%; background-size: cover; z-index:-5}
.floor.active { z-index:10}

#floor-1 {position: fixed; background:url(/images/build/floor-1.png) no-repeat center left
; 
 background-size: cover; }
#floor-2 {position: fixed; background:url(/images/build/floor-2.png) no-repeat center left
; 
 background-size: cover; }
#floor-3 {position: fixed; background:url(/images/build/floor-3.png) no-repeat center left
; 
 background-size: cover; }
#floor-4 {position: fixed; background:url(/images/build/floor-4.png) no-repeat center left
; 
 background-size: cover; }
#floor-5 {position: fixed; background:url(/images/build/floor-5.png) no-repeat center left
; 
 background-size: cover; }
#floor-6 {position: fixed; background:url(/images/build/floor-6.png) no-repeat center left
; 
 background-size: cover; }
#floor-7 {position: fixed; background:url(/images/build/floor-7.png) no-repeat center left
; 
 background-size: cover; }

#house-image-container { 
	font-size: 18px; 
	height: 100%;
	width: 100%;
	position: absolute;
}

.house-image-container .floor_number a.penthouse { float: left; width: 100px; overflow: hidden; }
.house-image-container .floor_number .floor_6 { display: none; }

.house-image-container-2 .floor_number a.penthouse { display:none; float:left; width:150px; margin-left:-163px }

.floor_number{
	z-index: 1010; 
	display:block; 
	background:rgba(0,0,0,0.8); 
	text-decoration:none; 
	font-weight:bold; 
	position: fixed;
	font-size: 21px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.house-image-container .floor_number {
	height: 40px;
	width: 40px;
	border:3px solid #fff;
	line-height: 42px;
	border-radius: 40px;
}
.house-image-container .n_6 {
	border-radius: 0;
	width: 100px;
}
.house-image-container-2 .floor_number {
	height: 30px;
	border:3px solid #fff;
	line-height: 33px;
	border-radius: 30px;
}
.floor_number a{ 
	color:#8a8982; 
	display: block;
}
.house-image-container .floor_number a {
	width: 38px;
}
.house-image-container-2 .floor_number a {
	width: 30px;
}
.floor_number a:hover{ 
	color: #fffcd9;  
}
.floor_number:hover{ 
	font-color:#fffcd9; 
	border:3px solid #8a8982;
}
.house-image-container .n_1 {	top: 85%;}
.house-image-container .n_2 {	top: 75%;}
.house-image-container .n_3 {	top: 65%;}
.house-image-container .n_4 {	top: 55%;}
.house-image-container .n_5 {	top: 45%;}
.house-image-container .n_6 {	top: 35%;}

.house-image-container-2 .n_1 {	top: 80%;}
.house-image-container-2 .n_2 {	top: 74%;}
.house-image-container-2 .n_3 {	top: 68%;}
.house-image-container-2 .n_4 {	top: 62%;}
.house-image-container-2 .n_5 {	top: 56%;}
.house-image-container-2 .n_6 {	top: 50%;}

.floor-text { font-weight:bold; float:left; margin-right:10%; padding:2px 0;}
.side-1 { width: 200px; font-size: 22px; text-align: center; border:4px solid #fffcd9; background:rgba(0,0,0,0.8); color:#8a8982; float:left; margin-right:5%; padding:2px 10px}
.current_fasad, .side-1:hover { color:#fffcd9;border:4px solid #8a8982;}
.side-2 { width: 200px; font-size: 22px; text-align: center; border:4px solid #fffcd9; background:rgba(0,0,0,0.8); color:#8a8982; float:left; margin-right:5%; padding:2px 10px}
.current_fasad, .side-2:hover { color:#fffcd9;border:4px solid #8a8982;}

/* FASAD 2*/
.fasad-2 { background:url(/images/build/fasad-2.jpg) 
	 no-repeat center left
;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	position: fixed;}
.floor-2 { top:0; left:0; position:absolute; background-size: cover; z-index:-5}
.floor-2.active { z-index:10}

.current_fasad {
	cursor: default;
	pointer-events: none;
}
#inset-floor-1 {position: fixed; background:url(/images/build/inset-floor-1.png) no-repeat center left
; 
 background-size: cover; }
#inset-floor-2 {position: fixed; background:url(/images/build/inset-floor-2.png) no-repeat center left
; 
 background-size: cover; }
#inset-floor-3 {position: fixed; background:url(/images/build/inset-floor-3.png) no-repeat center left
; 
 background-size: cover; }
#inset-floor-4 {position: fixed; background:url(/images/build/inset-floor-4.png) no-repeat center left
; 
 background-size: cover; }
#inset-floor-5 {position: fixed; background:url(/images/build/inset-floor-5.png) no-repeat center left
; 
 background-size: cover; }
#inset-floor-6 {position: fixed; background:url(/images/build/inset-floor-6.png) no-repeat center left
; 
 background-size: cover; }
#inset-floor-7 {position: fixed; background:url(/images/build/inset-floor-7.png) no-repeat center left
; 
 background-size: cover; }

.petrovsky {
	font-weight: bold;
	text-transform: uppercase;
}

.tab-list-s { height: 342px; }
.tab-list .tab-item { display:none}
.tab-list .tab-item.current { display:block}
.tab-list ul.service  {padding: 0 0;}
.tab-list ul.service li { background:url(/images/li-icon.png) no-repeat left center; padding-left:90px; height:50px; margin: 15px 0}
.tab-list ul.location li { background: url(/images/li-location.png) no-repeat 20px center; padding-left: 90px; padding-top: 8px; height: 45px; margin: 20px 0; }
.tab-list ul.key li { background: url(/images/key.png) no-repeat 20px center; padding-left: 90px; padding-top: 8px; height: 45px; margin: 20px 0; }
.tab-list ul li.extension { background: none; }


.key-link-wrapper {height: 60px; margin-bottom: 10px; margin-top: 10px;width: 23%; }
.key-link-wrapper  a {
	line-height: 60px;
	margin-left: 30px;
}
.key-link-wrapper  a:hover {
	line-height: 60px;
	margin-left: 30px;
}
.penthouse-icon {
	display: block;
	background-image: url(/images/icon-4-grey.png);
	width: 60px;
	height: 60px;
	background-position: 0 -60px;
	background-repeat: no-repeat;
	float: left;
}
.lineheight-serv { line-height: 25px;}
.lineheight-loc { line-height: 23px}

.tab-control { text-align:center; position:relative; margin-top:50px}
.tab-serv { margin-top: 0; }
.tab-control li { display:inline-block; margin:0 5px}
.tab-control li a { border-radius:50%; height:25px; width:25px; display:block; border:2px solid #fff;}
.tab-control li a.current { background:#fff;}

/* FOOTER */
#footer { }
#footer a { }

/* SLIDER */
#gallery-wrap { font-family: 'PT Sans Normal'; font-size:28px; position:relative; }

#slider { margin-top: -20px; width:844px; height: auto; margin:auto }
#slider .slide {width:844px; position:relative; margin:auto; }
#slider .slide a { opacity: 0.3; float:left; width:400px; position:relative; margin:11px; display:block; background:#000;}

#slider .slide a img { 
	width:100%; height:100%; opacity:1; 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;}
#slider .slide a:hover img { opacity:1}


#slider .slide a span {
	background: url(/images/magnify.png) no-repeat scroll -50% center;
	top:0;
	left:0; 
	bottom:0; 
	right:0; 
	display:block; 
	position: absolute;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#slider .slide a:hover span { background-position: 50% 50%;}


#slider .next, #slider .prev { display:none }

#slider .pagination { display:block; width:100%; text-align:center; z-index:20 }
#slider .pagination li { display:inline-block; margin:0px 2px;}
#slider .pagination li a { border-radius:50%; height:25px; width:25px; display:block; border:2px solid #fff; overflow:hidden; text-indent:300px}
#slider .pagination li.current a { background:#fff;}
#slider .slides_control { overflow:hidden; height: 530px; display: block;}

/* CALLBACK */

.callback-shadow { background:rgba(0,0,0,0.8); position:fixed; width:100%; height:100%; top:0; left:0; z-index:110; }
.callback-wrapper { position: absolute; width:100%; height:100%; top:0; left:0; z-index:2000; display:none}
.callback-form .text {
	font-family: 'PT Sans Normal';
	font-size: 26px;
	text-align: center;
	padding-bottom: 20px;
	line-height: 27px;
	color: #fffcd9;
}
.callback-form {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -304.5px;
	margin-top: -203px;
	background: #000;
	width: 700px;
	border: 10px solid #cbc4ad;
	color: #fffcd9;
	padding: 20px 60px;
	z-index: 1000;
}
.callback-form .field { 
	padding-bottom: 15px;
	font-family: 'PT Sans normal';
}
.callback-form .field input {
	background: #fff;
	width: 523px;
	margin: 0;
	padding: 7px;
	border: none;
	font-size: 16px;
	font-family: 'PT Sans normal';
}
/* .callback-form .button { padding-top:20px} */

.callback-form .button input { cursor: pointer;	font-family: 'PT Sans Normal'; margin:0; padding:0; border:none; font-size:18px}
.callback-form .button input[type="submit"] {font-weight: bold; background:#000; width:260px; height:40px; color:#8a8982; float:left; border: 2px solid #fff;}
.callback-form .button input[type="reset"] { font-weight: bold; background:#000; width:260px; height:40px; color:#8a8982; float:right; border: 2px solid #fff;}

.callback-form .button input[type="submit"]:hover, .callback-form .button input[type="reset"]:hover {color:#fff; border: 2px solid #8a8982;}

.callback-form .cancel-form {margin-left: 607px;}
.action-form .cancel-form {margin-left: 633px;}
.buy-form .cancel-form {margin-left: 433px;}

.cancel-form{cursor: pointer; font-weight: bold;background: #000;width: 24px;height: 24px;color: #8a8982;/* float: right; */border: 2px solid #000;position: absolute;margin-top: -18px;}
.cancel-form:hover {color:#fff; border: 2px solid #000;}
/* ACTION */
.action-wrapper { position: absolute; width:100%; height:100%; top:0; left:0; z-index:2000; display:none; font-family: 'PT Sans normal'; }
.action-form {position: fixed; top:50%; left:50%;margin-left: -370px; margin-top: -135px; background: #000; width:600px; border:10px solid #cbc4ad;  color:#fffcd9; padding:20px 60px; z-index:1000}
.action-form .text { font-size:20px; text-align:center; padding-bottom:20px; line-height: 30px;}
.action-form a { margin: 0 auto; }
.action-call {
	font-size: 20px;
	text-align: center;
	display: block;
	padding: 5px 10px;
	border: 2px solid #fff;
	width: 200px;
	color:	#8a8982;
	font-weight: bold;
}
.action-call:hover {
	border: 2px solid #8a8982;
}
/*APART INFO */

.buy-wrapper {font-family: 'PT Sans Normal'; position: fixed; width:100%; height:100%; top:0; left:0; z-index:2000; display:none;}
.buy-wrapper h2 { font-size:24px; text-transform:uppercase; font-weight:bold}

.buy-wrapper-sold {font-family: 'PT Sans Normal'; position: fixed; width:100%; height:100%; top:0; left:0; z-index:2000; display:none;}
.buy-wrapper-sold h2 { font-size:24px; text-transform:uppercase; font-weight:bold}

.buy-shadow { background:rgba(0,0,0,0.8); position:fixed; width:100%; height:100%; top:0; left:0; z-index:110; }
.buy-form { background: #000; position: fixed; top:50%; left:50%;margin-left: -269px; margin-top: -150px; width:400px; border:10px solid #cbc4ad;  color:#fffcd9; padding:20px 60px; position:relative; z-index:1000}
.buy-form .text { font-size:20px; text-align:left; padding-bottom:20px}
.buy-form .button input { margin:0; padding:0; border:none; font-size:18px; cursor:pointer}
.buy-form .button input[type="submit"] { background:#8a8982; width:260px; height:40px; color:#fffcd9; float:left}


.fasad-wrap {
	display: block;
	position: absolute;
	top: 94%;
	width: 100%;
	left: 20%;
}

#big-video-wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	z-index: -10;
}
.fasad-bg-wrap {
	display: block;
}

#main_hidden_3 {
	pointer-events: none;
	cursor: default;
	opacity: 0;
  font-family: 'PT Sans Normal', sans-serif;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 3000;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/spinner.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

.container .tt-grid-wrapper ul li a img {
	height: 100%;
	width: 100%;
}

#full-img {
  position: fixed;
  top: 0%;
  margin-top: 170px;
}

 @media (min-height: 670px) {
	.floor-control { margin-top: 140px; }
	.floor-control-2 { margin-top: 240px; }
	.floor-control-2 li {	margin: 13px 0;height: 24px; }
	.floor-control-2 li span { height:24px; }
	.floor-control-2 li a{ width: 24px; height: 24px; line-height: 24px; font-size: 14px; }
	.floor-control-2 .fasad-wrap { margin-top: 50px; }
}

 @media (min-height: 750px) {
	.floor-control { margin-top: 170px; }
	.floor-control li { margin:26px 0; height:46px; }

	.floor-control-2 {margin-top: 275px; padding-left: 20%; }
	.floor-control-2 li { margin:10px 0; height:33px; }
	.floor-control-2 li span { height: 33px; }
	.floor-control-2 li a { font-size: 18px; }
	.floor-control-2 .fasad-wrap { margin-top: 60px; }
}

@media  (min-height: 820px) {
	#center { padding-top: 50px; }
	#center .block-wrapper { margin-top:60px; }
	#center .common-wrapper { padding-top: 1%; }
}

@media (min-height: 900px) {
/*	.concept_content { padding-top: 300px; } */

	.floor-control { margin-top: 240px; }
	.floor-control li { margin:40px 0; height:46px; }
	.floor-control-2 { margin-top: 360px; }
	.floor-control-2 li { margin:14px 0; height:35px; }
	.floor-control-2 li span { height:36px; }
	.floor-control-2 li a{ width: 40px; height: 36px; line-height: 36px; font-size: 20px; }
	.floor-control-2 { padding-left: 20%; }
	.floor-control-2 .fasad-wrap {margin-top: 70px; }
}

@media  (min-height: 1000px) {
	.floor-control { margin-top: 290px; }
	.floor-control li { margin:52px 0; height:45px }

	.floor-control-2 { margin-top: 435px; }
	.floor-control-2 li { margin:18px 0; height:35px; }
	.floor-control-2 li span {height: 35px;}
	.floor-control-2 { padding-left: 20%; }
	.floor-control-2 .fasad-wrap {margin-top: 120px; }

	#center { padding-top: 100px; }
	#center .block-wrapper { margin-top:30px; }
	#center .common-wrapper { padding-top: 2%;}
	#slider { width:1244px; }
	#slider .slide { width:1244px; }
	#slider .slides_control { height: 780px; }
	#slider .slide a { width:600px; }
	#slider .pagination { margin-top: 50px; }
}

@media (min-height: 1200px) {
	.floor-control { margin-top: 420px; }
	.floor-control li { margin:85px 0; }

	.floor-control-2 { margin-top: 615px; }
	.floor-control-2 li { margin:35px 0; }
	.floor-control-2 .fasad-wrap {margin-top: 170px; }
}

@media (min-width: 1300px) {
	/* #center .sale-wrapper { margin-top: 0%;} */
}

@media (max-width: 1500px) {
	#header .phone { float:none; margin:0; margin-left: 3px; }
}

@media (min-width: 1600px) {
	#slider { width:1244px; }
	#slider .slide { width:1244px; }
	#slider .slides_control { height: 780px; }
	#slider .slide a { width:600px; }
}

@media (min-width: 1800px) {
/*	.concept_content { padding-top: 300px; } */
}
